<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" media="only screen and (max-width: 700px), only screen and (max-device-width: 700px)" href="styles/style-mobile.css" />
  <link rel='stylesheet' media='screen and (min-width: 701px)' href='styles/style.css' />
  <link type="text/css" rel="stylesheet" href="styles/materialize.min.css"  media="screen,projection"/>
  <script src="scripts/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="scripts/materialize.min.js"></script>
  <script src="scripts/i18next.min.js" type="text/javascript"></script>
  <script src="scripts/i18nextXHRBackend.min.js" type="text/javascript"></script>
  <script src="scripts/jquery-i18next.min.js" type="text/javascript"></script>
</head>

<body>
<div id="feedback-page">
	<div class="fullbrowse-bar" >
      <h4 id="profile-title"> Geri Bildirim</h4>

      <div class="closeFB">
        <img src="images/close.svg">
      </div>
    </div>
  <div id="feedback-content">
  <div id="description">
  	<p>
  		Bir sorun yaşadıysan veya önerin varsa doğru yerdesin!  </br>
    </br><strong>Hemen müdahale gereken durumlarda</strong> (önemli olması gerekmez) mtlcnylmz@gmail.com adresine eposta veya Hangouts mesajı gönder. Hata varsa referans kodunu da vermen iyi olur.
    </p>

  	<p><strong>Referans kodu: </strong><span id="referCode">Oluşturuluyor...</span></p>

    <p id="issues-head" style="display:none"><strong>Bilinen hatalar:</strong>(Sorun aşağıdakilerden biriyse geri bildirim göndermene gerek yok)</p>
  <div>  <ul id="issues" style="display: none;padding-left:22px;"><ul></div>
</div>
<p id="version" data-i18n="feedback-version" style="color: red; display: none" ></p>
	<div class="collection">
	 <a class="collection-item">
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
			<label for="textarea1" data-i18n="describe-feedback"></label>
          </div>
        </div>
      </a>
		<a class="collection-item">
        <div class="row">
          <p></p>
          <div class="input-field col s12">
           	<input id="email" type="email" class="validate">
         	 <label for="email" data-i18n="email-feedback"></label>
          </div>
        </div>
      </a>
	</div>
	<a class="waves-effect waves-light btn" id="send" data-i18n="send"></a>
	</br></br></br>


  </div>
  </div>

  <script>
    $(document).ready(function(){
      var lang = navigator.language.substr(0, 2);
      i18next.use(i18nextXHRBackend);
      i18next.init({
        //'debug': true,
        'lng': lang,
        'fallbackLng': 'en',
        'backend': {
          loadPath: 'locales/{{lng}}/{{ns}}.json'
        }
      }, function() {
          jqueryI18next.init(i18next, $);
          $("body").localize();

          $(".closeFB").click(function () {
            window.parent.removeHash();
            setTimeout(function () {
              window.parent.location.reload();
            },100);
          });

          if (navigator.language.substr(0, 2) !== "tr" ) {
            $("#description").hide();
          }

          if (window.parent.versionV === false ) {
            $("#version").show();
          }

          window.parent.firebaseRef.database().ref("/issues/").once("value").then(function (snapshot) {
              snapshot.forEach(function(childSnapshot) {
                var data = childSnapshot.val();
                $("#issues").append("<li style='list-style-type: disc;'>"+data+"</li>");
                $("#issues").slideDown();
                $("#issues-head").slideDown();

              });

          });

           var logRef = window.parent.firebaseRef.database().ref("/errors/").push();
            var logRefKey = logRef.key;
            logRef.set({
              uid: window.parent.userId,
              key: window.parent.errorLog
            });

			$("#referCode").text(logRefKey);

            try{
			   $("#email").val(window.parent.authEmail);
			   Materialize.updateTextFields();
		    } catch (e) {};

			$("#send").click(function(){
				var email = $("#email").val();
				var feedbackText = $("#textarea1").val();
				Materialize.toast("Gönderiliyor", 8000);
				window.parent.firebaseRef.database().ref("/feedbacks/" + window.parent.userId).update({
                    email: email,
                    feedback: feedbackText
                  }).then(function () {
                    Materialize.toast("Gönderildi.");
                    setTimeout(function(){
                       window.parent.removeHash();
      			      setTimeout(function () {
         			     window.parent.location.reload();
          			  },100);

					},2000);
                  });
                  setTimeout(function(){Materialize.toast("Zaman aşımı. Bağlatınızı kontrol edin ve tekrar deneyin.", 9000)},10000);
			});

      });
    });
  </script>

</body>
</html>
