<div id="page-form" class="row">
  <input class="waves-effect waves-teal btn-flat" type="button" onclick="logout()" data-i18n="[value]settings.logout">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" required>
        <label for="username" data-i18n="form.username"></label>
        <p style="font-size: 8.5pt" data-i18n="form.usernameNotice"></p>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="fullname" type="text">
        <label for="fullname" data-i18n="form.fullname"></label>
        <p style="font-size: 8.5pt" data-i18n="form.fullnameNotice"></p>
      </div>
    </div>

    <div class="row">
      <a id="profilepic" class="modal-trigger" href="#upload">
        <ul class="collection col s12">
          <li class="collection-item avatar">
            <img src="images/photo.png" alt="" class="circle" style="border-radius: 3px 3px">
            <span data-i18n="form.profilepic"></span>
          </li>
        </ul>
      </a>
    </div>

    <div class="row">
      <span data-i18n="settings.gender"></span>
      <div class="input-field col s12">
        <select id="gender" class="browser-default" required>
          <option value="" disabled selected data-i18n="settings.choose"></option>
          <option value="female" data-i18n="female"></option>
          <option value="male" data-i18n="male"></option>
        </select>
      </div>
    </div>

    <div class="row">
      <span data-i18n="settings.birthdate"></span>
      <div class="input-field col s12">

        <select class="browser-default" id="year" required>
          <option value="" disabled selected data-i18n="settings.choose"></option><option value="2016">2016</option><option value="2015">2015</option><option value="2014">2014</option><option value="2013">2013</option><option value="2012">2012</option><option value="2011">2011</option><option value="2010">2010</option><option value="2009">2009</option><option value="2008">2008</option><option value="2007">2007</option><option value="2006">2006</option><option value="2005">2005</option><option value="2004">2004</option><option value="2003">2003</option><option value="2002">2002</option><option value="2001">2001</option><option value="2000">2000</option><option value="1999">1999</option><option value="1998">1998</option><option value="1997">1997</option><option value="1996">1996</option><option value="1995">1995</option><option value="1994">1994</option><option value="1993">1993</option><option value="1992">1992</option><option value="1991">1991</option><option value="1990">1990</option><option value="1989">1989</option><option value="1988">1988</option><option value="1987">1987</option><option value="1986">1986</option><option value="1985">1985</option><option value="1984">1984</option><option value="1983">1983</option><option value="1982">1982</option><option value="1981">1981</option><option value="1980">1980</option><option value="1979">1979</option><option value="1978">1978</option><option value="1977">1977</option><option value="1976">1976</option><option value="1975">1975</option><option value="1974">1974</option><option value="1973">1973</option><option value="1972">1972</option><option value="1971">1971</option><option value="1970">1970</option><option value="1969">1969</option><option value="1968">1968</option><option value="1967">1967</option><option value="1966">1966</option><option value="1965">1965</option><option value="1964">1964</option><option value="1963">1963</option><option value="1962">1962</option><option value="1961">1961</option><option value="1960">1960</option><option value="1959">1959</option><option value="1958">1958</option><option value="1957">1957</option><option value="1956">1956</option><option value="1955">1955</option><option value="1954">1954</option><option value="1953">1953</option><option value="1952">1952</option><option value="1951">1951</option><option value="1950">1950</option><option value="1949">1949</option><option value="1948">1948</option><option value="1947">1947</option><option value="1946">1946</option><option value="1945">1945</option><option value="1944">1944</option><option value="1943">1943</option><option value="1942">1942</option><option value="1941">1941</option><option value="1940">1940</option><option value="1939">1939</option><option value="1938">1938</option><option value="1937">1937</option><option value="1936">1936</option><option value="1935">1935</option><option value="1934">1934</option><option value="1933">1933</option><option value="1932">1932</option><option value="1931">1931</option><option value="1930">1930</option><option value="1929">1929</option><option value="1928">1928</option><option value="1927">1927</option><option value="1926">1926</option><option value="1925">1925</option><option value="1924">1924</option><option value="1923">1923</option><option value="1922">1922</option><option value="1921">1921</option><option value="1920">1920</option><option value="1919">1919</option><option value="1918">1918</option><option value="1917">1917</option><option value="1916">1916</option><option value="1915">1915</option><option value="1914">1914</option><option value="1913">1913</option><option value="1912">1912</option><option value="1911">1911</option><option value="1910">1910</option><option value="1909">1909</option><option value="1908">1908</option><option value="1907">1907</option><option value="1906">1906</option><option value="1905">1905</option><option value="1904">1904</option><option value="1903">1903</option><option value="1902">1902</option><option value="1901">1901</option><option value="1900">1900</option>
        </select>
        <p style="font-size: 8.5pt" data-i18n="form.birthyearNotice"></p>
      </div>
    </div>

    <div class="row">
      <a id="country-area" class="collection-item">
        <span data-i18n="settings.country"></span>
        <div class="input-field col s12">

          <select id="country" class="browser-default" required>
            <option value="N/A" data-i18n="settings.not-specified" selected></option>
            <option value="AF" data-i18n="countries.AF"></option><option value="AX" data-i18n="countries.AX"></option><option value="AL" data-i18n="countries.AL"></option><option value="DZ" data-i18n="countries.DZ"></option><option value="AS" data-i18n="countries.AS"></option><option value="AD" data-i18n="countries.AD"></option><option value="AO" data-i18n="countries.AO"></option><option value="AI" data-i18n="countries.AI"></option><option value="AQ" data-i18n="countries.AQ"></option><option value="AG" data-i18n="countries.AG"></option><option value="AR" data-i18n="countries.AR"></option><option value="AM" data-i18n="countries.AM"></option><option value="AW" data-i18n="countries.AW"></option><option value="AU" data-i18n="countries.AU"></option><option value="AT" data-i18n="countries.AT"></option><option value="AZ" data-i18n="countries.AZ"></option><option value="BS" data-i18n="countries.BS"></option><option value="BH" data-i18n="countries.BH"></option><option value="BD" data-i18n="countries.BD"></option><option value="BB" data-i18n="countries.BB"></option><option value="BY" data-i18n="countries.BY"></option><option value="BE" data-i18n="countries.BE"></option><option value="BZ" data-i18n="countries.BZ"></option><option value="BJ" data-i18n="countries.BJ"></option><option value="BM" data-i18n="countries.BM"></option><option value="BT" data-i18n="countries.BT"></option><option value="BO" data-i18n="countries.BO"></option><option value="BA" data-i18n="countries.BA"></option><option value="BW" data-i18n="countries.BW"></option><option value="BV" data-i18n="countries.BV"></option><option value="BR" data-i18n="countries.BR"></option><option value="IO" data-i18n="countries.IO"></option><option value="BN" data-i18n="countries.BN"></option><option value="BG" data-i18n="countries.BG"></option><option value="BF" data-i18n="countries.BF"></option><option value="BI" data-i18n="countries.BI"></option><option value="KH" data-i18n="countries.KH"></option><option value="CM" data-i18n="countries.CM"></option><option value="CA" data-i18n="countries.CA"></option><option value="CV" data-i18n="countries.CV"></option><option value="KY" data-i18n="countries.KY"></option><option value="CF" data-i18n="countries.CF"></option><option value="TD" data-i18n="countries.TD"></option><option value="CL" data-i18n="countries.CL"></option><option value="CN" data-i18n="countries.CN"></option><option value="CX" data-i18n="countries.CX"></option><option value="CC" data-i18n="countries.CC"></option><option value="CO" data-i18n="countries.CO"></option><option value="KM" data-i18n="countries.KM"></option><option value="CG" data-i18n="countries.CG"></option><option value="CD" data-i18n="countries.CD"></option><option value="CK" data-i18n="countries.CK"></option><option value="CR" data-i18n="countries.CR"></option><option value="CI" data-i18n="countries.CI"></option><option value="HR" data-i18n="countries.HR"></option><option value="CU" data-i18n="countries.CU"></option><option value="CY" data-i18n="countries.CY"></option><option value="CZ" data-i18n="countries.CZ"></option><option value="DK" data-i18n="countries.DK"></option><option value="DJ" data-i18n="countries.DJ"></option><option value="DM" data-i18n="countries.DM"></option><option value="DO" data-i18n="countries.DO"></option><option value="EC" data-i18n="countries.EC"></option><option value="EG" data-i18n="countries.EG"></option><option value="SV" data-i18n="countries.SV"></option><option value="GQ" data-i18n="countries.GQ"></option><option value="ER" data-i18n="countries.ER"></option><option value="EE" data-i18n="countries.EE"></option><option value="ET" data-i18n="countries.ET"></option><option value="FK" data-i18n="countries.FK"></option><option value="FO" data-i18n="countries.FO"></option><option value="FJ" data-i18n="countries.FJ"></option><option value="FI" data-i18n="countries.FI"></option><option value="FR" data-i18n="countries.FR"></option><option value="GF" data-i18n="countries.GF"></option><option value="PF" data-i18n="countries.PF"></option><option value="TF" data-i18n="countries.TF"></option><option value="GA" data-i18n="countries.GA"></option><option value="GM" data-i18n="countries.GM"></option><option value="GE" data-i18n="countries.GE"></option><option value="DE" data-i18n="countries.DE"></option><option value="GH" data-i18n="countries.GH"></option><option value="GI" data-i18n="countries.GI"></option><option value="GR" data-i18n="countries.GR"></option><option value="GL" data-i18n="countries.GL"></option><option value="GD" data-i18n="countries.GD"></option><option value="GP" data-i18n="countries.GP"></option><option value="GU" data-i18n="countries.GU"></option><option value="GT" data-i18n="countries.GT"></option><option value="GG" data-i18n="countries.GG"></option><option value="GN" data-i18n="countries.GN"></option><option value="GW" data-i18n="countries.GW"></option><option value="GY" data-i18n="countries.GY"></option><option value="HT" data-i18n="countries.HT"></option><option value="HM" data-i18n="countries.HM"></option><option value="VA" data-i18n="countries.VA"></option><option value="HN" data-i18n="countries.HN"></option><option value="HK" data-i18n="countries.HK"></option><option value="HU" data-i18n="countries.HU"></option><option value="IS" data-i18n="countries.IS"></option><option value="IN" data-i18n="countries.IN"></option><option value="ID" data-i18n="countries.ID"></option><option value="IR" data-i18n="countries.IR"></option><option value="IQ" data-i18n="countries.IQ"></option><option value="IE" data-i18n="countries.IE"></option><option value="IM" data-i18n="countries.IM"></option><option value="IL" data-i18n="countries.IL"></option><option value="IT" data-i18n="countries.IT"></option><option value="JM" data-i18n="countries.JM"></option><option value="JP" data-i18n="countries.JP"></option><option value="JE" data-i18n="countries.JE"></option><option value="JO" data-i18n="countries.JO"></option><option value="KZ" data-i18n="countries.KZ"></option><option value="KE" data-i18n="countries.KE"></option><option value="KI" data-i18n="countries.KI"></option><option value="KP" data-i18n="countries.KP"></option><option value="KR" data-i18n="countries.KR"></option><option value="XK" data-i18n="countries.XK"></option><option value="KW" data-i18n="countries.KW"></option><option value="KG" data-i18n="countries.KG"></option><option value="LA" data-i18n="countries.LA"></option><option value="LV" data-i18n="countries.LV"></option><option value="LB" data-i18n="countries.LB"></option><option value="LS" data-i18n="countries.LS"></option><option value="LR" data-i18n="countries.LR"></option><option value="LY" data-i18n="countries.LY"></option><option value="LI" data-i18n="countries.LI"></option><option value="LT" data-i18n="countries.LT"></option><option value="LU" data-i18n="countries.LU"></option><option value="MO" data-i18n="countries.MO"></option><option value="MK" data-i18n="countries.MK"></option><option value="MG" data-i18n="countries.MG"></option><option value="MW" data-i18n="countries.MW"></option><option value="MY" data-i18n="countries.MY"></option><option value="MV" data-i18n="countries.MV"></option><option value="ML" data-i18n="countries.ML"></option><option value="MT" data-i18n="countries.MT"></option><option value="MH" data-i18n="countries.MH"></option><option value="MQ" data-i18n="countries.MQ"></option><option value="MR" data-i18n="countries.MR"></option><option value="MU" data-i18n="countries.MU"></option><option value="YT" data-i18n="countries.YT"></option><option value="MX" data-i18n="countries.MX"></option><option value="FM" data-i18n="countries.FM"></option><option value="MD" data-i18n="countries.MD"></option><option value="MC" data-i18n="countries.MC"></option><option value="MN" data-i18n="countries.MN"></option><option value="ME" data-i18n="countries.ME"></option><option value="MS" data-i18n="countries.MS"></option><option value="MA" data-i18n="countries.MA"></option><option value="MZ" data-i18n="countries.MZ"></option><option value="MM" data-i18n="countries.MM"></option><option value="NA" data-i18n="countries.NA"></option><option value="NR" data-i18n="countries.NR"></option><option value="NP" data-i18n="countries.NP"></option><option value="NL" data-i18n="countries.NL"></option><option value="AN" data-i18n="countries.AN"></option><option value="NC" data-i18n="countries.NC"></option><option value="NZ" data-i18n="countries.NZ"></option><option value="NI" data-i18n="countries.NI"></option><option value="NE" data-i18n="countries.NE"></option><option value="NG" data-i18n="countries.NG"></option><option value="NU" data-i18n="countries.NU"></option><option value="NF" data-i18n="countries.NF"></option><option value="MP" data-i18n="countries.MP"></option><option value="NO" data-i18n="countries.NO"></option><option value="OM" data-i18n="countries.OM"></option><option value="PK" data-i18n="countries.PK"></option><option value="PW" data-i18n="countries.PW"></option><option value="PS" data-i18n="countries.PS"></option><option value="PA" data-i18n="countries.PA"></option><option value="PG" data-i18n="countries.PG"></option><option value="PY" data-i18n="countries.PY"></option><option value="PE" data-i18n="countries.PE"></option><option value="PH" data-i18n="countries.PH"></option><option value="PN" data-i18n="countries.PN"></option><option value="PL" data-i18n="countries.PL"></option><option value="PT" data-i18n="countries.PT"></option><option value="PR" data-i18n="countries.PR"></option><option value="QA" data-i18n="countries.QA"></option><option value="RE" data-i18n="countries.RE"></option><option value="RO" data-i18n="countries.RO"></option><option value="RU" data-i18n="countries.RU"></option><option value="RW" data-i18n="countries.RW"></option><option value="SH" data-i18n="countries.SH"></option><option value="KN" data-i18n="countries.KN"></option><option value="LC" data-i18n="countries.LC"></option><option value="PM" data-i18n="countries.PM"></option><option value="VC" data-i18n="countries.VC"></option><option value="WS" data-i18n="countries.WS"></option><option value="SM" data-i18n="countries.SM"></option><option value="ST" data-i18n="countries.ST"></option><option value="SA" data-i18n="countries.SA"></option><option value="SN" data-i18n="countries.SN"></option><option value="RS" data-i18n="countries.RS"></option><option value="SC" data-i18n="countries.SC"></option><option value="SL" data-i18n="countries.SL"></option><option value="SG" data-i18n="countries.SG"></option><option value="SK" data-i18n="countries.SK"></option><option value="SI" data-i18n="countries.SI"></option><option value="SB" data-i18n="countries.SB"></option><option value="SO" data-i18n="countries.SO"></option><option value="ZA" data-i18n="countries.ZA"></option><option value="GS" data-i18n="countries.GS"></option><option value="ES" data-i18n="countries.ES"></option><option value="LK" data-i18n="countries.LK"></option><option value="SD" data-i18n="countries.SD"></option><option value="SR" data-i18n="countries.SR"></option><option value="SJ" data-i18n="countries.SJ"></option><option value="SZ" data-i18n="countries.SZ"></option><option value="SE" data-i18n="countries.SE"></option><option value="CH" data-i18n="countries.CH"></option><option value="SY" data-i18n="countries.SY"></option><option value="TW" data-i18n="countries.TW"></option><option value="TJ" data-i18n="countries.TJ"></option><option value="TZ" data-i18n="countries.TZ"></option><option value="TH" data-i18n="countries.TH"></option><option value="TL" data-i18n="countries.TL"></option><option value="TG" data-i18n="countries.TG"></option><option value="TK" data-i18n="countries.TK"></option><option value="TO" data-i18n="countries.TO"></option><option value="TT" data-i18n="countries.TT"></option><option value="TN" data-i18n="countries.TN"></option><option value="TR" data-i18n="countries.TR"></option><option value="TM" data-i18n="countries.TM"></option><option value="TC" data-i18n="countries.TC"></option><option value="TV" data-i18n="countries.TV"></option><option value="UG" data-i18n="countries.UG"></option><option value="UA" data-i18n="countries.UA"></option><option value="AE" data-i18n="countries.AE"></option><option value="GB" data-i18n="countries.GB"></option><option value="US" data-i18n="countries.US"></option><option value="UM" data-i18n="countries.UM"></option><option value="UY" data-i18n="countries.UY"></option><option value="UZ" data-i18n="countries.UZ"></option><option value="VU" data-i18n="countries.VU"></option><option value="VE" data-i18n="countries.VE"></option><option value="VN" data-i18n="countries.VN"></option><option value="VG" data-i18n="countries.VG"></option><option value="VI" data-i18n="countries.VI"></option><option value="WF" data-i18n="countries.WF"></option><option value="EH" data-i18n="countries.EH"></option><option value="YE" data-i18n="countries.YE"></option><option value="ZM" data-i18n="countries.ZM"></option><option value="ZW" data-i18n="countries.ZW"></option>
          </select>
          <a style="cursor: pointer" id="nocounty" data-i18n="dont-specify"></a>

        </div>
      </a>
    </div>


    <input style="margin-bottom: 9px" class="waves-effect waves-light btn" type="button" onclick="save()" data-i18n="[value]ok">
  </form>
</div>

<div id="upload" class="modal">
  <div class="modal-content">
    <input id="choose" type="file" onchange="previewFile()" accept="image/*"><br>
    <div id="image"></div>
  </div>
  <div class="modal-footer">
    <a href="#!" id="agree-photo" class="modal-action modal-close waves-effect waves-green btn-flat" data-i18n="ok"></a>
  </div>
</div>

<script>
  var croppedImg;
  var croppedImgMini;
  var userId;
  var invalidNickMsg;
  var nickInUseMsg;
  var usernameRegex;
  var validUsername;
  var currentUsername;
  var errMsg;
  $.get("https://api.ipdata.co", function (response) {
    $("#country").val(response.country_code);
  }, "jsonp");

  $(document).on("click", "#nocounty", function () {
    $("#country").val("N/A");
  });

  $(document).ready(function(){
    $('#page-form').localize();
    $('.modal').localize();
    $('.modal').modal();
    userId = window.parent.firebaseRef.auth().currentUser.uid;
    invalidNickMsg = i18next.t("errors.invalidUsername");
    errMsg = i18next.t("error");
    nickInUseMsg = i18next.t("errors.usernameInUse");
    usernameRegex = /^[a-zA-Z0-9/_]{2,15}$/;
    validUsername = false;

	$("#gender").click(function(){
	  $(this).css("border-color", "lightgray");
	});

	$("#year").click(function(){
	  $(this).css("border-color", "lightgray");
	});


    //Check username
    $('#username').on('input', function() {
      var val =  $(this).val();
      validUsername = val.match(usernameRegex);
      if (validUsername) {
        var valLow = val.toLowerCase();
        window.parent.firebaseRef.database().ref('/nicks/'+valLow).once('value').then(function(snapshot) {
          currentUserName = snapshot.val();
          if (currentUserName) {
            $("#username").removeClass("valid");
            $("#username").addClass("invalid");
            Materialize.toast(nickInUseMsg, 5000);
            validUsername = false;
          } else {
            $("#username").removeClass("invalid");
            $("#username").addClass("valid");
            validUsername = true;
          }
        });
      } else {
        $("#username").removeClass("valid");
        $("#username").addClass("invalid");
        validUsername = false;

      }
    });
  });

  //Choose and Crop Image
  function previewFile(){
     var file    = document.getElementById('choose').files[0];
     var reader  = new FileReader();
     var url;

     $("#image").find("*").remove();
     $(document).off("change", "#modal-photo #choose");

     reader.addEventListener("load", function () {
       url = reader.result;
       var basic = $('#image').croppie({
          url: url,
          enableExif: true,
          viewport: {
             width: 100,
             height: 100
          },
          boundary: {
            width: 200,
            height: 200
          }
      });

      $("#agree-photo").click(function () {
        basic.croppie('result', {
          size: {
            width: 200,
            height: 200
          },
          format: 'jpeg',
          quality: 0.9

        }).then(function(img) {
          croppedImg = img;

          //Also show photo on the form
          $("#profilepic img").attr("src", img);

          basic.croppie('result', {
            size: {
              width: 64,
              height: 64
            },
            format: 'jpeg',
            quality: 0.97

          }).then(function(img) {
            croppedImgMini = img;

          });

        });

      });
     }, false);

     if (file) {
       reader.readAsDataURL(file);
     }

   }

  function logout() {
    window.parent.firebaseRef.auth().signOut().then(function() {
                window.parent.removeHash();
                window.parent.location.reload();
              }, function(error) {
                Materialize.toast(error, 4000);
              });
  };

  function save() {

      //Save data to database
      var username = $("#username").val();
      var usernameLow = username.toLowerCase();
      var fullname = $("#fullname").val();
      var gender = $('#gender').find(":selected").val();
      var year = $('#year').find(":selected").val();
      var country = $('#country').find(":selected").val();


      if ( !validUsername || currentUsername || !gender || !year ) {

  	    if ( !validUsername ) {
  		    $("#username").removeClass("valid");
        	  $("#username").addClass("invalid");
  	    }

  	    if (currentUsername){
  		  Materialize.toast(nickInUseMsg, 5000);
  	    }

  	    if (!gender) {
  		  $("#gender").css("border-color", "red");
          }

        if (!year) {
		      $("#year").css("border-color", "red");
        }

      } else {

        $("#page-welcome #page-form" ).velocity({ opacity: 0 });
        $("#page-welcome > #preloader > div").addClass("active");

        try {
          window.parent.firebaseRef.auth().currentUser.getIdToken(true).then(function (token) {
            $.ajax({
              method: "POST",
              url: "https://smoof-5d949.firebaseapp.com/newUser",
              data: {
                  username: username,
                  fullname: fullname,
                  gender: gender,
                  year: year,
                  country: country,
                  userIdToken: token
                }
            }).done(function( msg ) {
                //Upload avatar
                if (croppedImg && croppedImgMini) {
                  window.parent.firebaseRef.storage().ref().child('users/'+ userId + '/avatar_mini.jpg').putString(croppedImgMini, "data_url").then(function () {
                    window.parent.firebaseRef.storage().ref().child('users/'+ userId + '/avatar.jpg').putString(croppedImg, "data_url").then(function(snapshot) {
                      window.parent.location.reload();
                    }, function(error) {
                      Materialize.toast("File couldn't uploaded", 3000);
                      $("#page-welcome > #login" ).velocity({ opacity: 1 });
                      $("#page-welcome > #preloader > div").removeClass("active");
                    });
                  });

                } else {
                  window.parent.location.reload();
                }

              }).fail(function( jqXHR, textStatus ) {
                Materialize.toast(errMsg + textStatus, 5000);
                $("#page-welcome #page-form" ).velocity({ opacity: 1 });
                $("#page-welcome #page-form").removeClass("active");
              });
          });



        } catch(err) {
          Materialize.toast(errMsg + err, 5000);
          $("#page-welcome #page-form" ).velocity({ opacity: 1 });
          $("#page-welcome #page-form").removeClass("active");
        }
      }
  }

</script>
