<div id="page-login">
  <div id="demo">
    <img src="images/trailer.gif" style="width: 100%;" />
  </div>

  <div id="login-buttons">
      <h5 style="margin-top: 0px; font-size: 16pt;"><span data-i18n="login.title" ></span><a target="_blank" href="terms.html" id="terms" style="cursor: pointer; font-size: 10pt; float:right; background-color: initial;width: initial; margin: 2px; color: initial;" data-i18n="terms"></a></h5>
      <a class="modal-trigger waves-effect waves-light btn" target="parent" href="#email-login" data-i18n="login.email"></a>
      <a id="google" class="waves-effect waves-light btn">Google</a>
      <a id="facebook" class="waves-effect waves-light btn">Facebook</a>
      <a id="twitter" class="waves-effect waves-light btn">Twitter</a>
  </div>

  <div class="overlay">

  </div>

  <div id="email-login" class="modal">
    <div class="modal-content">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email" data-i18n="login.email"></label>
              </div>
            </div>
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" pattern=".{6,}">
              <label for="password" data-i18n="login.password"></label>
            </div>
          </div>

          <a class="modal-trigger" href="#forgotmodal" data-i18n="login.forgot"></a> <br>

          <div class="row">
            <input type="submit" id="in" class="waves-effect waves-light btn col s6" data-i18n="[value]login.signin"  onclick="return false"></input>
            <input type="submit" id="up" class="waves-effect waves-light btn col s6" data-i18n="[value]login.signup"  onclick="return false"></input>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="forgotmodal" class="modal">
    <div class="modal-content">
      <div class="input-field col s12">
        <input id="forgotemail" type="email" class="validate">
        <label for="forgotemail" data-i18n="login.email"></label>
      </div>
    </div>

    <div class="modal-footer">
      <a href="#!" id="passreset" class=" modal-action modal-close waves-effect waves-green btn-flat" data-i18n="send"></a>
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" data-i18n="close"></a>
    </div>
  </div>

</div>

<script>
  $(document).ready(function(){
    $('#page-login').localize();
    var connectedMsg = i18next.t('connected');
    var disconnectedMsg = i18next.t('disconnected');
    var passResetMsg = i18next.t('login.passreset');

    window.parent.firebaseRef.auth().getRedirectResult().then(function(result) {
      var token = result.credential.accessToken;
      // The signed-in user info.
      var user = result.user;
    }).catch(function(error) {
      // Handle Errors here.
      var errorCode = error.code;
      var errorMessage = error.message;
      // The email of the user's account used.
      var email = error.email;
      // The window.parent.firebaseRef.auth.AuthCredential type that was used.
      var credential = error.credential;
      // ...
      console.log(error);

    });

    $("#page-login #google").click(function () {
      var provider = new window.parent.firebaseRef.auth.GoogleAuthProvider();
      provider.addScope('https://www.googleapis.com/auth/plus.login');
      provider.addScope('https://www.googleapis.com/auth/userinfo.profile');
      provider.addScope('https://www.googleapis.com/auth/plus.me');
      window.parent.firebaseRef.auth().signInWithRedirect(provider).then(function() {
        window.parent.firebaseRef.auth().getRedirectResult().then(function(result) {
          var token = result.credential.accessToken;
          // The signed-in user info.
          var user = result.user;
        }).catch(function(error) {
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          // The email of the user's account used.
          var email = error.email;
          // The window.parent.firebaseRef.auth.AuthCredential type that was used.
          var credential = error.credential;
          console.log(error);
          Materialize.toast(errorMessage, 4000);
          // ..
        });
      });
    });

    $("#page-login #facebook").click(function () {
      var provider = new window.parent.firebaseRef.auth.FacebookAuthProvider();
      provider.addScope('user_birthday');
      provider.addScope('public_profile');
      window.parent.firebaseRef.auth().signInWithRedirect(provider).then(function() {
        window.parent.firebaseRef.auth().getRedirectResult().then(function(result) {
          var token = result.credential.accessToken;
          // The signed-in user info.
          var user = result.user;
        }).catch(function(error) {
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          // The email of the user's account used.
          var email = error.email;
          // The window.parent.firebaseRef.auth.AuthCredential type that was used.
          var credential = error.credential;
          // ...
          console.log(error);
          Materialize.toast(errorMessage, 4000);
        });

      });
    });

    $("#page-login #twitter").click(function () {
      var provider = new  window.parent.firebaseRef.auth.TwitterAuthProvider();
      window.parent.firebaseRef.auth().signInWithRedirect(provider).then(function() {
        window.parent.firebaseRef.auth().getRedirectResult().then(function(result) {
          var token = result.credential.accessToken;
          // The signed-in user info.
          var user = result.user;
        }).catch(function(error) {
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          // The email of the user's account used.
          var email = error.email;
          // The window.parent.firebaseRef.auth.AuthCredential type that was used.
          var credential = error.credential;
          // ...
          console.log(error);
          Materialize.toast(errorMessage, 4000);
        });

      });
    });

    $('.modal').modal({
      ready: function() {
        $(".overlay").velocity("fadeIn");
      },
      complete: function() {
        $(".overlay").velocity("fadeOut");
      }
    });

    $(".overlay").click(function () {
        $('.modal').modal('close');
    });


    $("#passreset").click(function () {
      var auth = window.parent.firebaseRef.auth();
      var emailAddress = $("#forgotemail").val();

      auth.sendPasswordResetEmail(emailAddress).then(function() {
        Materialize.toast(passResetMsg, 5000);
      }, function(error) {
        console.error(error);
      });
    });

    $("#email-login #up").click(function () {
      var email = $("#email-login #email").val();
      var password = $("#email-login #password").val();

      $("#page-welcome > #login" ).velocity({ opacity: 0 });
      $("#page-welcome > #preloader > div").addClass("active");

      window.parent.firebaseRef.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;

        Materialize.toast(errorMessage, 4000);

        $("#page-welcome > #login" ).velocity({ opacity: 1 });
        $("#page-welcome > #preloader > div").removeClass("active");

      });
    });

    $("#email-login #in").click(function () {
      var email = $("#email-login #email").val();
      var password = $("#email-login #password").val();

      $("#page-welcome > #preloader > div").addClass("active");
      $("#page-welcome > #login" ).velocity({ opacity: 0 });

      window.parent.firebaseRef.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        Materialize.toast(errorMessage, 4000);

        $("#page-welcome > #login" ).velocity({ opacity: 1 });
        $("#page-welcome > #preloader > div").removeClass("active");

        console.error(errorCode);
        console.error(errorMessage);
      });
    });

  });
</script>
