<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" media="only screen and (max-width: 700px), only screen and (max-device-width: 700px)" href="styles/moderator-mobile.css" />
  <link rel='stylesheet' media='screen and (min-width: 701px)' href='styles/moderator.css' />
  <link type="text/css" rel="stylesheet" href="styles/materialize.min.css"  media="screen,projection"/>

  <script src="scripts/jquery.min.js" type="text/javascript"></script>

  <script type="text/javascript" src="scripts/materialize.min.js"></script>
  <script src="scripts/i18next.min.js" type="text/javascript"></script>
  <script src="scripts/i18nextXHRBackend.min.js" type="text/javascript"></script>
  <script src="scripts/jquery-i18next.min.js" type="text/javascript"></script>
</head>

<body>
  <div id="moderator">

    <div class="fullbrowse-bar" >
      <h4 data-i18n="moderator.title"></h4>

      <div class="closeFB" onclick="window.parent.closeFB();">
        <img src="images/close.svg">
      </div>
    </div>



    <div class="general-container">
      <p>Toplam şikayet: <strong><span id="pendingCount">...</span></strong></p>
      <div id="firstPhoto">
        <div class="container">
          <div class="user-info">
            <p class="fullname"></p>
            <p class="username"></p>
            <p class="birthyear"></p>
            <p class="gender"></p>
          </div>
          <div class="photo">
            <img />
          </div>
        </div>
        <form>
          <p>
            <input class="filled-in" type="checkbox" id="badUsername" />
            <label for="badUsername" data-i18n="moderator.badUsername"></label>
          </p>
          <p>
            <input class="filled-in" type="checkbox" id="badBirthyear" />
            <label for="badBirthyear" data-i18n="moderator.badBirthyear"></label>
          </p>
          <p>
            <input class="filled-in" type="checkbox" id="badAvatar" />
            <label for="badAvatar" data-i18n="moderator.badAvatar"></label>
          </p>
          <p>
            <input class="filled-in" type="checkbox" id="badPhoto" />
            <label for="badPhoto" data-i18n="moderator.badPhoto"></label>
          </p>

        </form>
      </div>

      <div id="secondPhoto" style="display:none">
        <div class="container">
          <div class="user-info">
            <p class="fullname"></p>
            <p class="username"></p>
            <p class="birthyear"></p>
            <p class="gender"></p>
          </div>
          <div class="photo">
            <img />
          </div>
        </div>
        <form>
          <p>
            <input class="filled-in" type="checkbox" id="badUsernameSecond" />
            <label for="badUsernameSecond" data-i18n="moderator.badUsername"></label>
          </p>
          <p>
            <input class="filled-in" type="checkbox" id="badBirthyearSecond" />
            <label for="badBirthyearSecond" data-i18n="moderator.badBirthyear"></label>
          </p>
          <p>
            <input class="filled-in" type="checkbox" id="badAvatarSecond" />
            <label for="badAvatarSecond" data-i18n="moderator.badAvatar"></label>
          </p>
          <p>
            <input class="filled-in" type="checkbox" id="badPhotoSecond" />
            <label for="badPhotoSecond" data-i18n="moderator.badPhoto"></label>
          </p>
        </form>


      </div>
      <a id="accept" class="waves-effect waves-light btn"  style="display:none">Ankette sorun yok</a>
      <a id="revert" class="waves-effect waves-light btn"  style="display:none">Anketi kaldır</a>
    </div>
</div>


  <script>
  $(document).ready(function () {
    var lang = navigator.language.substr(0, 2);
    i18next.use(i18nextXHRBackend);
    i18next.init({
    //'debug': true,
      'lng': lang,
      'fallbackLng': 'en',
      'backend': {
        loadPath: 'locales/{{lng}}/{{ns}}.json'
      }
    }, function() {
      jqueryI18next.init(i18next, $);
      $("body").localize();


      var pollID;
      var pollType ;
      var pollDuration;
      var toWhom;
      var uid ;
      var fullname;
      var username;
      var year;
      var gender;
      var photo;
      var lastCheck;
      var uidSecond;
      var fullnameSecond;
      var usernameSecond;
      var yearSecond;
      var genderSecond;
      var photoSecond;
      var ageRange;

      function getPoll() {
        window.parent.firebaseRef.database().ref("/reports/").once("value").then(function(snapshot) {
          var pending = snapshot.val();
          var pendingL;
          if (pending) {
             pendingL = Object.keys(pending).length;
            $("#pendingCount").text(pendingL);
          } else {
            $("#pendingCount").text("0");
          }
        });

        pollType = undefined ;
        pollDuration = undefined;
        uid = undefined ;
        fullname = undefined;
        username = undefined;
        year = undefined;
        gender = undefined;
        photo = undefined;
        lastCheck = undefined;
        uidSecond = undefined;
        fullnameSecond = undefined;
        usernameSecond = undefined;
        yearSecond = undefined;
        genderSecond = undefined;
        photoSecond = undefined;
        ageRange = undefined;
        $("#accept, #revert, #firstPhoto, #secondPhoto").hide();
        window.parent.firebaseRef.database().ref("/reports/").limitToFirst(1).once("value").then(function(snapshot) {
          snapshot.forEach(function(childSnapshot) {
            pollID = childSnapshot.val().pollID;
            window.parent.firebaseRef.database().ref("/active-polls/"+pollID).once("value").then(function(snapshot) {

              pollType = snapshot.val().pollType;
              uid = snapshot.val().uid;
              fullname = snapshot.val().fullname;
              username = snapshot.val().username;
              year = snapshot.val().year;
              gender = snapshot.val().gender;
              photo = snapshot.val().photo;



              $("#firstPhoto .fullname").text(fullname);
              $("#firstPhoto .username").text(username);
              $("#firstPhoto .birthyear").text(year);
              $("#firstPhoto .gender").text(gender);

              window.parent.firebaseRef.storage().ref('users/'+uid+"/photos/mini/" + photo + ".jpg").getDownloadURL().then(function(url) {
                $("#firstPhoto .photo img").attr("src", url);
                $("#accept, #revert, #firstPhoto").show();
              });

              if ( pollType == "vs") {

                $("#secondPhoto").show();

                uidSecond = snapshot.val().uidSecond;
                fullnameSecond = snapshot.val().fullnameSecond;
                usernameSecond = snapshot.val().usernameSecond;
                yearSecond = snapshot.val().yearSecond;
                genderSecond = snapshot.val().genderSecond;
                photoSecond = snapshot.val().photoSecond;

                $("#SecondPhoto .fullname").text(fullnameSecond);
                $("#SecondPhoto .username").text(usernameSecond);
                $("#SecondPhoto .birthyear").text(yearSecond);
                $("#SecondPhoto .gender").text(genderSecond);

                window.parent.firebaseRef.storage().ref('users/'+uidSecond+"/photos/mini/" + photoSecond + ".jpg").getDownloadURL().then(function(url) {
                  $("#secondPhoto .photo img").attr("src", url);
                  $("#accept, #revert, #secondPhoto").show();
                });

              }
            });
          });
        });
      };

      getPoll();

      $("#accept").click(function () {
        $("#accept, #revert, #firstPhoto, #secondPhoto").hide();
        window.parent.firebaseRef.database().ref("/reports/"+pollID).remove();
        getPoll();
      });

      $("#revert").click(function () {
        if (document.querySelector("#badUsername").checked || document.querySelector("#badBirthyear").checked || document.querySelector("#badAvatar").checked || document.querySelector("#badPhoto").checked) {

          $("#accept, #revert, #firstPhoto, #secondPhoto").hide();

          var firstBadUsername = document.querySelector("#badUsername").checked;
          var firstBadBirth = document.querySelector("#badBirthyear").checked;
          var firstBadAvatar = document.querySelector("#badAvatar").checked;
          var firstBadPhoto = document.querySelector("#badPhoto").checked;

          var newNotifyRef;
          var newNotifyKey;

          window.parent.firebaseRef.database().ref("/reports/"+pollID).remove();

          if ( firstBadUsername || firstBadBirth || firstBadAvatar || firstBadPhoto ) {
            window.parent.firebaseRef.database().ref("/active-polls/"+pollID).remove();
            window.parent.firebaseRef.database().ref("/active-polls-seen/"+pollID).remove();
            window.parent.firebaseRef.database().ref("/users/"+uid).update({
              activePoll: "-"
            });
            window.parent.firebaseRef.storage().ref("/users/"+uid+"/photos/"+photo+".jpg").delete();
            window.parent.firebaseRef.storage().ref("/users/"+uid+"/photos/mini/"+photo+".jpg").delete();

          }

          if (firstBadUsername) {
            newNotifyRef = window.parent.firebaseRef.database().ref("/notifications/" + uid).push();
            newNotifyKey = newNotifyRef.key;
            newNotifyRef.set({
              type: "normal",
              key: newNotifyKey,
              msgID: "badUsername"
            });
          }

          if (firstBadBirth) {
            newNotifyRef = window.parent.firebaseRef.database().ref("/notifications/" + uid).push();
            newNotifyKey = newNotifyRef.key;
            newNotifyRef.set({
              type: "normal",
              key: newNotifyKey,
              msgID: "badBirthyear"
            });
          }

          if (firstBadAvatar) {
            newNotifyRef = window.parent.firebaseRef.database().ref("/notifications/" + uid).push();
            newNotifyKey = newNotifyRef.key;
            newNotifyRef.set({
              type: "normal",
              key: newNotifyKey,
              msgID: "badAvatar"
            });
          }

          if (firstBadPhoto) {
            newNotifyRef = window.parent.firebaseRef.database().ref("/notifications/" + uid).push();
            newNotifyKey = newNotifyRef.key;
            newNotifyRef.set({
              type: "normal",
              key: newNotifyKey,
              msgID: "badPhoto"
            });
          }

          if (pollType == "vs") {
            var secondBadUsername = document.querySelector("#badUsernameSecond").checked;
            var secondBadBirth = document.querySelector("#badBirthyearSecond").checked;
            var secondBadAvatar = document.querySelector("#badAvatarSecond").checked;
            var secondBadPhoto = document.querySelector("#badPhotoSecond").checked;

            if ( firstBadUsername || firstBadBirth || firstBadAvatar || firstBadPhoto ) {
              window.parent.firebaseRef.database().ref("/active-polls/"+pollID).remove();
              window.parent.firebaseRef.database().ref("/active-polls-seen/"+pollID).remove();
              window.parent.firebaseRef.database().ref("/users/"+uidSecond).update({
                activePoll: "-"
              });

              window.parent.firebaseRef.storage().ref("/users/"+uidSecond+"/photos/"+photoSecond+".jpg").delete();
              window.parent.firebaseRef.storage().ref("/users/"+uidSecond+"/photos/mini/"+photo+".jpg").delete();

              newNotifyRef = window.parent.firebaseRef.database().ref("/notifications/" + uidSecond).push();
              newNotifyKey = newNotifyRef.key;
              newNotifyRef.set({
                type: "normal",
                key: newNotifyKey,
                msgID: "otherBad"
              });

            }

            if ( secondBadUsername || secondBadBirth || secondBadAvatar || secondBadPhoto ) {
              window.parent.firebaseRef.database().ref("/users/"+uidSecond).update({
                activePoll: "-"
              });

              window.parent.firebaseRef.database().ref("/active-polls/"+pollID).remove();
              window.parent.firebaseRef.database().ref("/active-polls-seen/"+pollID).remove();
              window.parent.firebaseRef.database().ref("/users/"+uid).update({
                activePoll: "-"
              });

              newNotifyRef = window.parent.firebaseRef.database().ref("/notifications/" + uid).push();
              newNotifyKey = newNotifyRef.key;
              newNotifyRef.set({
                type: "normal",
                key: newNotifyKey,
                msgID: "otherBad"
              });


            }

            if (secondBadUsername) {
              newNotifyRef = window.parent.firebaseRef.database().ref("/notifications/" + uidSecond).push();
              newNotifyKey = newNotifyRef.key;
              newNotifyRef.set({
                type: "normal",
                key: newNotifyKey,
                msgID: "badUsername"
              });
            }

            if (secondBadBirth) {
              newNotifyRef = window.parent.firebaseRef.database().ref("/notifications/" + uidSecond).push();
              newNotifyKey = newNotifyRef.key;
              newNotifyRef.set({
                type: "normal",
                key: newNotifyKey,
                msgID: "badBirthyear"
              });
            }

            if (secondBadAvatar) {
              newNotifyRef = window.parent.firebaseRef.database().ref("/notifications/" + uidSecond).push();
              newNotifyKey = newNotifyRef.key;
              newNotifyRef.set({
                type: "normal",
                key: newNotifyKey,
                msgID: "badAvatar"
              });
            }

            if (secondBadPhoto) {
              newNotifyRef = window.parent.firebaseRef.database().ref("/notifications/" + uidSecond).push();
              newNotifyKey = newNotifyRef.key;
              newNotifyRef.set({
                type: "normal",
                key: newNotifyKey,
                msgID: "badPhoto"
              });
            }



          }
        } else {
          Materialize.toast("Sebep seçmelisiniz.");
        }


        getPoll();
      });

    });
  });
  </script>

</body>
</html>
