<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" media="only screen and (max-width: 700px), only screen and (max-device-width: 700px)" href="styles/previous-votes-mobile.css" />
  <link rel='stylesheet' media='screen and (min-width: 701px)' href='styles/previous-votes.css' />
  <link type="text/css" rel="stylesheet" href="styles/materialize.min.css"  media="screen,projection"/>
  <script src="scripts/jquery.min.js" type="text/javascript"></script>

  <script type="text/javascript" src="scripts/materialize.min.js"></script>
  <script src="scripts/i18next.min.js" type="text/javascript"></script>
  <script src="scripts/i18nextXHRBackend.min.js" type="text/javascript"></script>
  <script src="scripts/jquery-i18next.min.js" type="text/javascript"></script>
  <script src="scripts/jquery.lazyload.js" type="text/javascript"></script>

</head>

<body>
  <div id="previous-votes-container">

    <div class="fullbrowse-bar" >
      <h4 data-i18n="previous-votes"></h4>

      <div class="closeFB" onclick="window.parent.closeFB();">
        <img src="images/close.svg">
      </div>
    </div>

    <div class="general-container">
        <div id="preloader-home" class="progress" >
           <div class="indeterminate"></div>
       </div>
   </div>
   <div id="empty" data-i18n="no-more-content" style="margin-top: 100px; text-align: center; font-size: 14pt; display: none;" ></div>
</div>


  <script>
    $(document).ready(function () {
      var lang = navigator.language.substr(0, 2);
      i18next.use(i18nextXHRBackend);
      i18next.init({
      //'debug': true,
        'lng': lang,
        'fallbackLng': 'en',
        'backend': {
          loadPath: 'locales/{{lng}}/{{ns}}.json'
        }
      }, function() {
        jqueryI18next.init(i18next, $);
        $("body").localize();
        function isItMobile() {
          return $( "#isitmobile" ).css("height");
          // 0px = no
          // 1px = yes
        }

        var mobile = isItMobile();

        var userId = window.parent.firebaseRef.auth().currentUser.uid;
        var getFrom = -999999999999999;
        var getTo = 0;

        function getPolls() { 
        	window.parent.firebaseRef.database().ref("/previous-votes/"+userId).orderByChild("time").limitToFirst(30).once("value").then(function (snapshot) {
         	 var polls = snapshot.val();
         	 if (polls) {
          	  snapshot.forEach(function(childSnapshot) {
           	    var pollType = childSnapshot.val().pollType;
            	  var rate = childSnapshot.val().rate;
             	  var uid = childSnapshot.val().uid;
              	var nick = childSnapshot.val().nick;
              	var photo = childSnapshot.val().photo;
                var time = childSnapshot.val().time;
                var votesFirst;
                var votesSecond;
                var pointSecond;
                var point = 0;

                if (pollType == "single") {
                  $(".general-container").append('<div id="'+uid+'" class="poll-container single-poll-container"> '+
                      '<div class="user-info" >'+
                        '<img class="user-img" src="images/photo.png" />'+
                        '<p class="user-name">'+nick+'</p>'+
                      '</div>'+
                      '<div class="choice-photo">'+
                        '<img class="poll-photo" /> <div class="fullscreen" path="/users/'+uid+'/photos/'+photo+'.jpg"><img src="images/fullscreen.svg"></div>'+
                      '<div class="result"><p>'+Math.round(point)+'<span>/10</span></p></div>'+
                      '<div class="rate"><div>1</div><div>2</div><div>3</div><div>4</div><div>5</div><div>6</div><div>7</div>  <div>8</div><div>9</div><div>10</div></div>'
                    );
                    $("#"+uid+" div:nth-child("+rate+")").addClass("rated");
                } else {

                        var uidSecond = childSnapshot.val().uidSecond;
                         var nickSecond = childSnapshot.val().nickSecond;
                         var photoSecond = childSnapshot.val().photoSecond;
                  $(".general-container").append(
                          '<div id="'+uid+'" class="poll-container vs-poll-container">'+
                            '<div class="choice-one">'+
                              '<div class="user-info">'+
                                '<img class="user-img" src="images/photo.png">'+
                                '<p class="user-name">'+nick+'</p>'+
                              '</div>'+

                              '<div class="choice-photo">'+
                                '<img class="poll-photo"/>'+
                                '<div class="fullscreen" path="/users/'+uid+'/photos/'+photo+'.jpg">  <img src="images/fullscreen.svg"></div>'+
                                '<div class="result"><p> '+ point + "%"+' </p>  </div>'+
                                '<div class="selected"><img src="images/tick.svg"></div>'+
                              '</div>'+
                            '</div>'+

                            '<div class="choice-two">'+
                              '<div class="user-info">'+
                                '<img class="user-img" src="images/photo.png">'+
                                '<p class="user-name">'+nickSecond+'</p>'+
                              '</div>'+

                              '<div class="choice-photo">'+
                                '<img class="poll-photo"/>'+
                                '<div class="fullscreen" path="/users/'+uid+'/photos/'+photoSecond+'.jpg">  <img src="images/fullscreen.svg"></div>'+
                                '<div class="result"><p> '+ pointSecond + "%" +' </p>  </div>'+
                                '<div class="selected"><img src="images/tick.svg"></div>'+
                              '</div>'+
                            '</div>'+
                          '</div>'
                        );


                        if( rate == "first") {
                          $("#"+uid+ " .choice-one").addClass("voted-choice");
                        } else {
                          $("#"+uid+ " .choice-two").addClass("voted-choice");
                        }
                }

                window.parent.firebaseRef.database().ref("/users/"+uid+"/photos/"+photo+"/point").once("value").then(function(snapshot){
      						point = snapshot.val();
      						if (!point) {
      							window.parent.firebaseRef.database().ref("/active-polls/"+uid+"/results").once("value").then(function(snapshot){
      								if (pollType == "single") {
      									point = snapshot.val().point;
                        pointR = Math.round(point);
                        $("#"+uid+" .result p").html(pointR+ "<span>/10</span>");
                        $("#preloader-home").slideUp();

                        window.parent.firebaseRef.storage().ref("/users/"+uid+"/photos/mini/"+photo+".jpg").getDownloadURL().then(function(url) {
                          uid = childSnapshot.val().uid;

                          $("#"+uid+" .poll-photo")
                            .attr("data-original", url)
                            .lazyload({effect : "fadeIn",   threshold : 1000});
                        });

                        try {
                          window.parent.firebaseRef.storage().ref("/users/"+uid+"/avatar_mini.jpg").getDownloadURL().then(function(url) {
                            uid = childSnapshot.val().uid;
                            $("#"+uid+" .user-img")
                              .attr("data-original", url)
                              .lazyload({effect : "fadeIn",   threshold : 1000});
                          });
                        } catch (e) {

                        }
      								} else {

      									votesFirst = snapshot.val().votesFirst;
      									votesSecond = snapshot.val().votesSecond;
      									point = Math.round(votesFirst / (votesFirst + votesSecond) *  100  ) ;

                         pointSecond = 100 - point;
                         $("#"+uid+" .choice-one .result p").html('<p> '+ point + "%"+'');
                         $("#"+uid+" .choice-two .result p").html('<p> '+ pointSecond + "%"+'');



                        

                        $("#preloader-home").slideUp();

                        window.parent.firebaseRef.storage().ref("/users/"+uid+"/photos/mini/"+photo+".jpg").getDownloadURL().then(function(url) {
                          uid = childSnapshot.val().uid;
                          $("#"+uid+" .choice-one .poll-photo")
                            .attr("data-original", url)
                            .lazyload({effect : "fadeIn",   threshold : 1000});

                        });

                        window.parent.firebaseRef.storage().ref("/users/"+uidSecond+"/photos/mini/"+photoSecond+".jpg").getDownloadURL().then(function(url) {
                          uid = childSnapshot.val().uid;
                          $("#"+uid+" .choice-two .poll-photo")
                            .attr("data-original", url)
                            .lazyload({effect : "fadeIn",   threshold : 1000});

                        });

                        try {
                          window.parent.firebaseRef.storage().ref("/users/"+uid+"/avatar_mini.jpg").getDownloadURL().then(function(url) {
                            uid = childSnapshot.val().uid;
                            $("#"+uid+" .choice-one .user-img")
                              .attr("data-original", url)
                              .lazyload({effect : "fadeIn",   threshold : 1000});
                          });
                        } catch (e) {

                        }

                        try {
                          window.parent.firebaseRef.storage().ref("/users/"+uidSecond+"/avatar_mini.jpg").getDownloadURL().then(function(url) {
                            uid = childSnapshot.val().uid;
                            $("#"+uid+" .choice-two .user-img")
                              .attr("data-original", url)
                              .lazyload({effect : "fadeIn",   threshold : 1000});

                          });
                        } catch (e) {

                        }


      								}

      							});

      						} else {
                    if (pollType == "single") {
                      pointR = Math.round(point);
                        $("#"+uid+" .result p").html(pointR+ "<span>/10</span>");

                      $("#preloader-home").slideUp();

                      window.parent.firebaseRef.storage().ref("/users/"+uid+"/photos/mini/"+photo+".jpg").getDownloadURL().then(function(url) {
                        uid = childSnapshot.val().uid;

                        $("#"+uid+" .poll-photo")
                          .attr("data-original", url)
                          .lazyload({effect : "fadeIn",   threshold : 1000});
                      });

                      try {
                        window.parent.firebaseRef.storage().ref("/users/"+uid+"/avatar_mini.jpg").getDownloadURL().then(function(url) {
                          uid = childSnapshot.val().uid;
                          $("#"+uid+" .user-img")
                            .attr("data-original", url)
                            .lazyload({effect : "fadeIn",   threshold : 1000});
                        });
                      } catch (e) {

                      }
                  	} else {

                        pointSecond = 100 - parseInt(point);
                         $("#"+uid+" .choice-one .result p").html('<p> '+ point );
                         $("#"+uid+" .choice-two .result p").html('<p> '+ pointSecond + "%"+'');


                     

                        $("#preloader-home").slideUp();

                      window.parent.firebaseRef.storage().ref("/users/"+uid+"/photos/mini/"+photo+".jpg").getDownloadURL().then(function(url) {
                        uid = childSnapshot.val().uid;
                        $("#"+uid+" .choice-one .poll-photo")
                          .attr("data-original", url)
                          .lazyload({effect : "fadeIn",   threshold : 1000});

                      });

                      window.parent.firebaseRef.storage().ref("/users/"+uidSecond+"/photos/mini/"+photoSecond+".jpg").getDownloadURL().then(function(url) {
                        uid = childSnapshot.val().uid;
                        $("#"+uid+" .choice-two .poll-photo")
                          .attr("data-original", url)
                          .lazyload({effect : "fadeIn",   threshold : 1000});

                      });

                      try {
                        window.parent.firebaseRef.storage().ref("/users/"+uid+"/avatar_mini.jpg").getDownloadURL().then(function(url) {
                          uid = childSnapshot.val().uid;
                          $("#"+uid+" .choice-one .user-img")
                            .attr("data-original", url)
                            .lazyload({effect : "fadeIn",   threshold : 1000});
                        });
                      } catch (e) {

                      }

                      try {
                        window.parent.firebaseRef.storage().ref("/users/"+uidSecond+"/avatar_mini.jpg").getDownloadURL().then(function(url) {
                          uid = childSnapshot.val().uid;
                          $("#"+uid+" .choice-two .user-img")
                            .attr("data-original", url)
                            .lazyload({effect : "fadeIn",   threshold : 1000});

                        });
                      } catch (e) {

                      }
                    }
      						}

				        });
               });

             } else {
               $("#preloader-home").slideUp();
      				$("#empty").slideDown();
      			 };
           });
		  }

		  getPolls();

  		$(document).on("click", ".user-info", function() {
  			var usernick = $(this).children(".user-name").text();
  			var usernickLow = usernick.toLowerCase();
  			window.parent.location.hash = usernickLow;
  		});

      $(document).on("click", ".fullscreen", function() {
			     window.parent.photoPath = $(this).attr("path");

			window.parent.fullbrowse2();
                    window.parent.document.getElementById('fullbrowse2').contentWindow.location.replace("photo.html");
		});



      });
    });
  </script>

</body>
</html>
