<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" media="only screen and (max-width: 700px), only screen and (max-device-width: 700px)" href="styles/upload2-mobile.css" />
  <link rel='stylesheet' media='screen and (min-width: 701px)' href='styles/upload2.css' />
  <link type="text/css" rel="stylesheet" href="styles/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="styles/croppie.css"/>
  <script src="scripts/jquery.min.js" type="text/javascript"></script>
  <script src="scripts/croppie.js"></script>
    <script src="scripts/exif.js"></script>
  <script type="text/javascript" src="scripts/materialize.min.js"></script>
  <script src="scripts/i18next.min.js" type="text/javascript"></script>
  <script src="scripts/i18nextXHRBackend.min.js" type="text/javascript"></script>
  <script src="scripts/jquery-i18next.min.js" type="text/javascript"></script>
</head>

<body>
  <div id="upload2">
    <div class="fullbrowse-bar" >
      <h4 data-i18n="upload2.title"></h4>

      <div class="closeFB">
        <img src="images/close.svg">
      </div>
    </div>

    <div class="container" style="display: none">
      <img >

    <br>
    <p id="inform" data-i18n="upload2.notice"> </p>
    <button id="send" class="btn waves-effect waves-light" data-i18n="upload2.done"></button>
        <div class="progress" style="margin: 0"></div>
  </div>

  <div id="modal-photo" class="modal modal-fixed-footer">
    <div class="modal-content" style="overflow-x: hidden">
          <p data-i18n="upload2.upload3Notice"></p>
      <div class="modal-content">
        <input id="choose" type="file" accept="image/*"><br>
        <div id="image"></div>
      </div>
    </div>
    <div class="modal-footer modal-fixed-footer">
      <a id="agree-photo" class="modal-fixed-footer modal-action waves-effect waves-green btn-flat" data-i18n="ok"></a>
      <a id="cancel-photo" class="modal-fixed-footer modal-action modal-close waves-effect waves-green btn-flat" data-i18n="cancel"></a>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      var lang = navigator.language.substr(0, 2);
      i18next.use(i18nextXHRBackend);
      i18next.init({
        //'debug': true,
          'lng': lang,
          'fallbackLng': 'en',
          'backend': {
            loadPath: 'locales/{{lng}}/{{ns}}.json'
          }
      }, function() {
        jqueryI18next.init(i18next, $);
        $("body").localize();
        var errorMsg = i18next.t('error');
        var noImgMsg = i18next.t('noimg');
        var doneMsg = i18next.t('done');
        var userId = window.parent.firebaseRef.auth().currentUser.uid;
        var currentUserName;

        $(".closeFB").click(function () {
          window.parent.document.getElementById('s-profile').src = "profile.html";
          window.parent.closeFB();
        });

        $(".modal").modal();
        setTimeout(function () {
          $("#modal-photo").modal("open");
          setTimeout(function () {
            $("#choose").trigger('click');
          },100);

          $(document).on("click", "#cancel-photo", function () {
            $(".closeFB").click();
          });


          var croppedImg;
          var croppedImgMini;
          $(document).on("change", "#modal-photo #choose", function() {
             var file    = document.getElementById('choose').files[0];
             var reader  = new FileReader();
             var url;
             var basic = null;

             $("#image").find("*").remove();
             $(document).croppie("destroy");

             reader.addEventListener("load", function () {
               url = reader.result;
               basic = $('#image').croppie({
                  url: url,
                  enableExif: true,
                  viewport: {
                     width: 225,
                     height: 169
                  },
                  boundary: {
                    width: 300,
                    height: 235
                  }
              });

              $("#agree-photo").click(function () {
                basic.croppie('result', {
                  size: {
                    width: 1980,
                    height: 1485
                  },
                  format: 'jpeg',
                  quality: 0.9

                }).then(function(img) {
                  croppedImg = img;

                });

                basic.croppie('result', {
                  size: {
                    width: 720,
                    height: 540
                  },
                  format: 'jpeg',
                  quality: 0.9

                }).then(function(img) {
                  croppedImgMini = img;
                });
              });
             }, false);

             if (file) {
               reader.readAsDataURL(file);
             }
           });

           $(document).on("click", "#agree-photo", function () {


             $(document).on("change", "input[type=radio][name='pollType']", function () {
                //$(document).off("change", "input[type=radio][name='pollType']");
               if ( this.value == "vs" ) {
                 $("#toWhom").velocity("slideDown");
               } else {
                 $("#toWhom").velocity("slideUp");

               }
             });

             $(document).on("change", "input[type=radio][name='toWhom']", function () {
               //$(document).off("change", "input[type=radio][name='toWhom']");
               if ( this.value == "determined" ) {
                 $("#upload2 #username").velocity("slideDown");
                 $('#pollUsername').on('keyup', function() {
                   $('#pollUsername').off('keyup');
                   var username = $("#pollUsername").val();
                   if (username.length > 1 ) {
                     window.parent.firebaseRef.database().ref('/nicks/').orderByKey().startAt(username).limitToFirst(3).once('value').then(function(snapshot) {
                       var val = snapshot.val();

                     });
                   }
                 });
               } else {
                 $("#upload2 #username").velocity("slideUp");
               }
             });

             if (croppedImg && croppedImgMini) {
              $("#upload2 .container img").attr("src", croppedImgMini);
              $("#modal-photo").modal("close");
              $("#upload2 .container").velocity("slideDown");

              $(document).on("click", "#upload2 #send", function () {
                try {
                  $("#upload2 .progress").append('<div class="indeterminate"></div>');
                  $("#upload2 #send").addClass("disabled");
                  var time = window.parent.firebaseRef.database.ServerValue.TIMESTAMP;
                  window.parent.firebaseRef.database().ref("/users/" + userId).update({
                    lastCheck: time
                  }).then(function () {
                    window.parent.firebaseRef.database().ref('/users/'+userId).once('value').then(function(snapshot) {
                      var now = snapshot.val().lastCheck;
                         window.parent.firebaseRef.auth().currentUser.getIdToken(true).then(function (token) {
                           $.ajax({
                             method: "POST",
                              url: "https://smoof-5d949.firebaseapp.com/upload3",
                              data: {
                               userIdToken: token,
                               now: now
                              }
                          }).done(function() {
                            window.parent.firebaseRef.storage().ref().child('users/'+ userId + '/photos/'+now+'.jpg').putString(croppedImg, "data_url").then(function (snapshot) {
                               window.parent.firebaseRef.storage().ref().child('users/'+ userId + '/photos/mini/'+now+'.jpg').putString(croppedImgMini, "data_url").then(function (snapshot) {
                                 window.parent.Materialize.toast(doneMsg, 3000);
                                 window.parent.document.getElementById('s-upload').src = "upload.html";
                                 $(".closeFB").trigger("click");
                               });
                             });
                          }).fail(function() {
                        window.parent.Materialize.toast(errorMsg, 5000);
                           $(".closeFB").trigger("click");
                           window.parent.document.getElementById('s-upload').src = "upload.html";
                         });
                        });
                      });
                  });
                } catch (e) {
                  window.parent.Materialize.toast(errorMsg + e, 5000);
                  $(".closeFB").trigger("click");
                }
              });
             } else {
               Materialize.toast(noImgMsg, 3000);
             }
          });
        },300);
      });
    });
  </script>

</body>
</html>
