<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" media="only screen and (max-width: 700px), only screen and (max-device-width: 700px)" href="styles/upload-mobile.css" />
  <link rel='stylesheet' media='screen and (min-width: 701px)' href='styles/upload.css' />
  <link type="text/css" rel="stylesheet" href="styles/materialize.min.css"  media="screen,projection"/>
  <script src="scripts/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="scripts/materialize.min.js"></script>
  <script src="scripts/i18next.min.js" type="text/javascript"></script>
  <script src="scripts/i18nextXHRBackend.min.js" type="text/javascript"></script>
  <script src="scripts/jquery-i18next.min.js" type="text/javascript"></script>
</head>
<body>
  <div id="upload-content">
    <div>
      <h4 data-i18n="upload.title"></h4>
      <p id="credit-info" style="display:none;"></p>
      <p>
        <strong>Beta sürecinde sana sabit 20 puan!</strong>
      </p>

      <div style="width: 100%;" >
        <img style="position: relative; width: 270px; margin-left: calc(50% - 135px);" src="images/direction.svg">
      </div>
      <p style="text-align: center;" data-i18n="upload.direction"></p>

        <form action="#">
         <div class="file-field input-field">
           <div id="btn-choose" class="btn disabled" >
             <span data-i18n="wait"></span>
             <input id="choose" type="file" accept="image/*">
           </div>
           <div class="file-path-wrapper" style="opacity:0">
             <input class="file-path validate" type="text">
           </div>
         </div>
       </form>
      <div id="photo-rules">
        <h5 data-i18n="upload.rules-title"></h5>
        <p data-i18n="[html]upload.rules"></p>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
      var lang = navigator.language.substr(0, 2);
      i18next.use(i18nextXHRBackend);
      i18next.init({
        //'debug': true,
          'lng': lang,
          'fallbackLng': 'en',
          'backend': {
            loadPath: 'locales/{{lng}}/{{ns}}.json'
          }
      }, function() {
          jqueryI18next.init(i18next, $);
          $('body').localize();
        $('#upload-content').localize();
        var alreadyMsg = i18next.t("upload.already");
        var insuffMsg = i18next.t("upload.insuff");
        var uploadMsg = i18next.t("upload.btn-choose");
        var userId = window.parent.firebaseRef.auth().currentUser.uid;


        window.parent.firebaseRef.database().ref('/users/'+userId).once('value').then(function(snapshot) {
          var credit = snapshot.val().stats.credit;
          var creditInfo = i18next.t('upload.credit-info', { count: credit });
          var activepoll = snapshot.val().activePoll;

          $("#credit-info").html(creditInfo).slideDown();


          if ( activepoll !== "-" || credit < 20 ) {
            $("#btn-choose").attr("class", "btn disabled");

            if ( activepoll !== "-" ) {
              $("#btn-choose span").text(alreadyMsg);
            } else {
              $("#btn-choose span").text(insuffMsg);
            }
          } else {
            $("#btn-choose").attr("class", "waves-effect waves-light btn btn-choose red accent-3");
            $("#btn-choose span").text(uploadMsg);

            //Open Upload Page
            /*$("#btn-choose").click(function () {
              window.parent.fullbrowse();
              window.parent.document.getElementById('fullbrowse').src = "upload2.html";
            });
          */
          $(document).on("change", "#choose", function() {
             var file    = document.getElementById('choose').files[0];
             window.parent.readerU  = new FileReader();


             window.parent.readerU.addEventListener("load", function () {
               window.parent.fullbrowse();
               window.parent.document.getElementById('fullbrowse').src = "upload2.html";
              }, false);

              if (file) {
                window.parent.readerU.readAsDataURL(file);
              }
            });
          }

        });
      });
    });
  </script>

</body>
</html>
