<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" media="only screen and (max-width: 700px), only screen and (max-device-width: 700px)" href="styles/upload2-mobile.css" />
  <link rel='stylesheet' media='screen and (min-width: 701px)' href='styles/upload2.css' />
  <link type="text/css" rel="stylesheet" href="styles/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="styles/croppie.css"/>
  <script src="scripts/jquery.min.js" type="text/javascript"></script>
  <script src="scripts/croppie.js"></script>
  <script src="scripts/exif.js"></script>
  <script type="text/javascript" src="scripts/materialize.min.js"></script>
  <script src="scripts/i18next.min.js" type="text/javascript"></script>
  <script src="scripts/i18nextXHRBackend.min.js" type="text/javascript"></script>
  <script src="scripts/jquery-i18next.min.js" type="text/javascript"></script>
</head>

<body>
  <div id="upload2">
    <div class="fullbrowse-bar" >
      <h4 data-i18n="upload2.title"></h4>

      <div class="closeFB">
        <img src="images/close.svg">
      </div>
    </div>

    <div class="container" style="display: none">
      <img >
      <form id="pollType">
        <h5 data-i18n="upload2.type"></h5>
       <p>
         <input class="with-gap" name="pollType" type="radio" value="single" id="single" checked/>
         <label for="single" data-i18n="upload2.single"></label>
       </p>
       <p>
         <input class="with-gap" name="pollType" type="radio" value="vs" id="vs" />
         <label for="vs" data-i18n="upload2.vs"></label>
       </p>
     </form>

     <form id="toWhom" style="display: none">
       <h5 data-i18n="upload2.toWhom"></h5>
      <p>
        <input class="with-gap" name="toWhom" type="radio" value="random" id="random" checked />
        <label for="random" data-i18n="upload2.random"></label>
      </p>
      <p>
        <input class="with-gap" name="toWhom" type="radio" value="determined" id="determined" />
        <label for="determined" data-i18n="upload2.determined"></label>
      </p>

    </form>

    <form id="username" style="display: none" autocomplete="off">
      <div class="input-field"  autocomplete="off">
        <input id="pollUsername" class="dropdown-button" data-activates="suggestions" type="text" class="autocomplate" onclick="return false;">
        <label for="pollUsername" data-i18n="upload2.username"></label>
         <ul id='suggestions' class='dropdown-content' >
      </div>
    </form>

     <form id="pollDuration">
      <h5 data-i18n="upload2.duration"></h5>
      <p>
        <input class="with-gap" name="pollDuration" type="radio" value="5m" id="5m" />
        <label for="5m" data-i18n="upload2.5m"></label>
      </p>
      <p>
        <input class="with-gap" name="pollDuration" type="radio" value="1h" id="1h" />
        <label for="1h" data-i18n="upload2.1h"></label>
      </p>
      <p>
        <input class="with-gap" name="pollDuration" type="radio" value="12h" id="12h" checked />
        <label for="12h" data-i18n="upload2.12h"></label>
      </p>
      <p>
        <input class="with-gap" name="pollDuration" type="radio" value="24h" id="24h" />
        <label for="24h" data-i18n="upload2.24h"></label>
      </p>
      <p>

        <br />
        Tekil ve belirli birine karşı anketleriniz için istediğiniz süreyi seçebilirsiniz. <br />
        Rastgele birine karşı anketler için kolay eşleşme bulunabilmesi için şimdilik sadece 12 saat seçilebilir.
      </p>
    </form>
    <br>
    <p id="inform" data-i18n="upload2.notice"> </p>
    <button id="send" class="btn waves-effect waves-light" data-i18n="upload2.done"></button>
        <div class="progress" style="margin: 0"></div>
  </div>
</br>
</br>

  <div id="modal-photo" class="modal modal-fixed-footer">
    <div class="modal-content" style="overflow-x: hidden">

      <div class="modal-content">

        <div id="image"></div>
      </div>
    </div>
    <div class="modal-footer modal-fixed-footer">
      <a id="agree-photo" class="modal-fixed-footer modal-action waves-effect waves-green btn-flat" data-i18n="ok"></a>
      <a id="cancel-photo" class="modal-fixed-footer modal-action modal-close waves-effect waves-green btn-flat" data-i18n="cancel">
      <a id="rotate" class="modal-fixed-footer modal-action waves-effect waves-green btn-flat" data-deg="90" data-i18n="rotate"></a>

      </a>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      var lang = navigator.language.substr(0, 2);
      i18next.use(i18nextXHRBackend);
      i18next.init({
        //'debug': true,
          'lng': lang,
          'fallbackLng': 'en',
          'backend': {
            loadPath: 'locales/{{lng}}/{{ns}}.json'
          }
      }, function() {
        jqueryI18next.init(i18next, $);
        $("body").localize();
        var errorMsg = i18next.t('error');
        var noImgMsg = i18next.t('noimg');
        var doneMsg = i18next.t('done');
        var currentUserName;

        $(".closeFB").click(function () {
          window.parent.document.getElementById('s-upload').src = "upload.html";
          window.parent.closeFB();
        });

        $(".modal").modal();
        setTimeout(function () {
          $("#modal-photo").modal("open");

          $(document).on("click", "#cancel-photo", function () {
            $(".closeFB").click();
            window.parent.document.getElementById('s-upload').src = "upload.html";
          });


          var croppedImg;
          var croppedImgMini;
          var url;
          var basic = null;
          setTimeout(function () {

               url = window.parent.readerU.result;
               basic = $('#image').croppie({
                  url: url,
                  enableExif: true,
                  enableOrientation: true,
                  viewport: {
                     width: 225,
                     height: 169
                  },
                  boundary: {
                    width: 300,
                    height: 235
                  }
              });

              $("#rotate").click(function() {
                basic.croppie('rotate', parseInt($(this).data('deg')));
              });

              $("#agree-photo").click(function () {

                basic.croppie('result', {
                  size: {
                    width: 1980,
                    height: 1485
                  },
                  format: 'jpeg',
                  quality: 0.9

                }).then(function(img) {
                  croppedImg = img;
                  basic.croppie('result', {
                    size: {
                      width: 720,
                      height: 540
                    },
                    format: 'jpeg',
                    quality: 0.9

                  }).then(function(img) {
                    croppedImgMini = img;
                    $(document).on("change", "input[type=radio][name='pollType']", function () {
                       //$(document).off("change", "input[type=radio][name='pollType']");
                      if ( this.value == "vs" ) {
                        $("#toWhom").velocity("slideDown");
                      } else {
                        $("#toWhom").velocity("slideUp");

                      }
                    });

                    $(document).on("change", "input[type=radio][name='toWhom']", function () {
                      if ( this.value == "determined" ) {
                        $("#upload2 #username").velocity("slideDown");

                        // Süre kısıtı
                        $("#5m").attr('disabled', false);
                        $("#1h").attr('disabled', false);
                        $("#12h").attr('disabled', false);
                        $("#24h").attr('disabled', false);

$('.dropdown-button').dropdown({
           inDuration: 300,
           outDuration: 225,
           constrainWidth: true, // Does not change width of dropdown to that of the activator
           hover: false, // Activate on hover
           gutter: 0, // Spacing from edge
           belowOrigin: true, // Displays dropdown below the button
           alignment: 'left', // Displays dropdown with edge aligned to the left of button
           stopPropagation: false // Stops event propagation
         }
       );
        var username;
        var suggestTimeout = 0;
        $("#pollUsername").on('keyup', function() {
          $("#suggestions").html("");
          clearTimeout(suggestTimeout);
          suggestTimeout = setTimeout(function(){

         	 username = $("#pollUsername").val();
         	 usernameLow = username.toLowerCase()
         	 $(this).val(usernameLow);
       	   if (username.length > 0 ) {
      	      window.parent.firebaseRef.database().ref('/nicks/').orderByKey().startAt(usernameLow).limitToFirst(3).once('value').then(function(snapshot) {
					$("#suggestions").html("");
					snapshot.forEach(function(childSnapshot) {
	              	  var uid = childSnapshot.val().uid;
  	           	   window.parent.firebaseRef.database().ref("/users/"+uid+"/username/").once("value").then(function (snapshot) {
   	          	     var nick = snapshot.val();
    	         	     $("#suggestions").append('<li class="suggestion" id="'+nick+'"><a>'+nick+'</a></li>');

				 });
              });
            });
          }
        },500);

		});
		$(document).on("click", ".suggestion", function(){
			var sgNick = $(this).attr("id");
			$("#pollUsername").val(sgNick);
		});
                      } else {
                        $("#upload2 #username").velocity("slideUp");
                        $("#5m").attr('disabled', true);
                        $("#1h").attr('disabled', true);
                        $("#12h").attr('disabled', false);
                        $("#24h").attr('disabled', true);
                        $("#12h").prop("checked", true);
                      }
                    });

                    $(document).on("change", "input[type=radio][name='pollType']", function () {
                      if ( this.value == "single" ) {

                        // Süre kısıtı
                        $("#5m").attr('disabled', false);
                        $("#1h").attr('disabled', false);
                        $("#12h").attr('disabled', false);
                        $("#24h").attr('disabled', false);

                      } else {
                        $("#5m").attr('disabled', true);
                        $("#1h").attr('disabled', true);
                        $("#12h").attr('disabled', false);
                        $("#24h").attr('disabled', true);
                      }
                    });



                    if (croppedImg && croppedImgMini) {
                     $("#upload2 .container img").attr("src", croppedImgMini);
                     $("#modal-photo").modal("close");
                     $("#upload2 .container").velocity("slideDown");
                     var userId = window.parent.firebaseRef.auth().currentUser.uid;

                     $(document).on("click", "#upload2 #send", function () {
                       var ref = "/pending-polls/";
                       var pollType = $('input[name=pollType]:checked', '#pollType').val();
                       var toWhom = $('input[name=toWhom]:checked', '#toWhom').val();
                       $("#upload2 .progress").append('<div class="indeterminate"></div>');
                       $("#upload2 #send").addClass("disabled");

                       if (pollType == "vs" && toWhom == "determined") {
                         ref = "/pending-requests/";
                       }
                       function send(){
                         try {
                            var pollDuration = $('input[name=pollDuration]:checked', '#pollDuration').val();
                            var cUsernameF = $("#upload2 #pollUsername").val();
                            var time = window.parent.firebaseRef.database.ServerValue.TIMESTAMP;
                             window.parent.firebaseRef.database().ref("users/" + userId).update({
                               lastCheck: time
                             }).then(function () {

                             var pollDuration = $('input[name=pollDuration]:checked', '#pollDuration').val();

                             window.parent.firebaseRef.database().ref('/users/'+userId).once('value').then(function(snapshot) {
                                var now = snapshot.val().lastCheck;
                                window.parent.firebaseRef.auth().currentUser.getIdToken(true).then(function (token) {
                                   $.ajax({
                                     method: "POST",
                                      url: "https://smoof-5d949.firebaseapp.com/upload2",
                                      data: {
                                       userIdToken: token,
                                       pollType: pollType,
                                       toWhom: toWhom,
                                       pollDuration: pollDuration,
                                       cUsernameF: cUsernameF,
                                       now: now
                                      }
                                  }).done(function() {
                                    window.parent.firebaseRef.storage().ref().child('users/'+ userId + '/photos/'+now+'.jpg').putString(croppedImg, "data_url").then(function (snapshot) {
                                       window.parent.firebaseRef.storage().ref().child('users/'+ userId + '/photos/mini/'+now+'.jpg').putString(croppedImgMini, "data_url").then(function (snapshot) {
                                         window.parent.Materialize.toast(doneMsg, 3000);
                                         window.parent.document.getElementById('s-upload').src = "upload.html";
                                         $(".closeFB").trigger("click");
                                       });
                                     });
                                  }).fail(function() {
                                  window.parent.Materialize.toast(errorMsg + error, 5000);
                                     $(".closeFB").trigger("click");
                                     window.parent.document.getElementById('s-upload').src = "upload.html";
                                   });
                                });
                              });
                            });
                         } catch (e) {
                           window.parent.Materialize.toast(errorMsg + error, 5000);
                           $(".closeFB").trigger("click");
                           window.parent.document.getElementById('s-upload').src = "upload.html";
                         }
                       }

                       if (pollType == "vs" && toWhom == "determined") {
                         var cUsernameF = $("#upload2 #pollUsername").val();
                         var cUsername = cUsernameF.toLowerCase();
                         try {
                           window.parent.firebaseRef.database().ref("/nicks/"+cUsername).once("value").then(function (snapshot) {
                             var cUID = snapshot.val().uid;
                             window.parent.firebaseRef.database().ref("/users/"+cUID+"/activePoll").once("value").then(function (snapshot) {
                               var activePoll = snapshot.val();
                               if (activePoll == "-") {
                                 send();
                               } else {
                                 var hasActiveMsg = i18next.t('errors.hasActivePoll');
                                 Materialize.toast(hasActiveMsg, 5000);
                                 $("#upload2 .progress .indeterminate").remove();
                                 $("#upload2 #send").removeClass("disabled");
                               }
                             });
                           });
                         } catch (e) {
                           var invalidMsg = i18next.t('errors.invalidUsername');
                           Materialize.toast(invalidMsg, 5000);
                           $("#upload2 .progress .indeterminate").remove();
                           $("#upload2 #send").removeClass("disabled");
                         }

                       } else {
                         send();
                       }

                     });
                    } else {
                      Materialize.toast(noImgMsg, 3000);
                    }
                  });
                });



              });



            },2000);


        },300);
      });
    });
  </script>

</body>
</html>
