<htlm>
<head>
  <meta charset="UTF-8">
  <title>Smoof</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" media="only screen and (max-width: 700px), only screen and (max-device-width: 700px)" href="styles/welcome-mobile.css" />
  <link rel='stylesheet' media='screen and (min-width: 701px)' href='styles/welcome.css' />
  <link type="text/css" rel="stylesheet" href="styles/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="styles/croppie.css"/>
  <script src="scripts/jquery.min.js" type="text/javascript"></script>
  <script src="scripts/croppie.js"></script>
  <script type="text/javascript" src="scripts/materialize.min.js"></script>
<script src="scripts/i18next.min.js" type="text/javascript"></script>
  <script src="scripts/i18nextXHRBackend.min.js" type="text/javascript"></script>
  <script src="scripts/jquery-i18next.min.js" type="text/javascript"></script>
</head>

<body style="background-color: #029DAF">
  <div id="page-welcome">
    <div id="preloader">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="login">

    </div>

    <div id="verifyemail" class="modal">
      <div class="modal-content">
        <p data-i18n="login.email-verify-message"></p>
      </div>
      <div class="modal-footer">
        <a id="resend" class="waves-effect waves-green btn-flat" data-i18n="resend"></a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" data-i18n="ok"></a>
      </div>
    </div>

  </div>

  <script>
    $(document).ready(function(){
      var lang = navigator.language.substr(0, 2);
      i18next.use(i18nextXHRBackend);
      i18next.init({
        //'debug': true,
          'lng': lang,
          'fallbackLng': 'en',
          'backend': {
            loadPath: 'locales/{{lng}}/{{ns}}.json'
          }
      }, function() {
          jqueryI18next.init(i18next, $);
          $('#page-welcome').localize();


		window.parent.authProvider = "none";
        var emailsent = i18next.t('emailsent');
        var cantConnectedMsg = i18next.t('errors.cant-connect-retry');

        //Reload page if can't connect to the server
        var reloadTimeout = setTimeout( function(){
          Materialize.toast(cantConnectedMsg);
          setTimeout(function () {
            window.parent.location.reload();
          },2000);
        },20000);

        //Connection Check
        var newStart = true;
        var connectedRef = window.parent.firebaseRef.database().ref(".info/connected");


        connectedRef.on("value", function(snap) {

          if (snap.val() === true) {
            if (newStart === true) {
              clearTimeout(reloadTimeout);
              newStart = false;


              //User check
              window.parent.firebaseRef.auth().onAuthStateChanged(function(user) {

                if (user) {
                  // Login successful. Is profile valid?
                  var userId = window.parent.firebaseRef.auth().currentUser.uid;
                  user.providerData.forEach(function (profile) {
                    window.parent.authProvider = profile.providerId;
                    if ( profile.providerId === "password" ) {

                      if (user.emailVerified ) {
                        $('#verifyemail').modal("close");

                      }
                      else {
                        $("#page-welcome > #preloader > div").removeClass("active");
                        $('#verifyemail').modal("open");
                        user.sendEmailVerification();
                        $("#resend").click(function () {
                          user.sendEmailVerification();
                          var emailsent = i18next.t('emailsent');
                          Materialize.toast(emailsent);
                        });

                        $("#verifyemail .modal-close").click(function () {
                          window.parent.firebaseRef.auth().signOut().then(function() {
                          window.parent.location.reload();
                          }, function(error) {
                            Materialize.toast(error);
                            setTimeout(function () {
                              location.reload(forceGet);
                            }, 3000);
                          });
                        });

                      }

                    } else {

                    }
                  });


                  window.parent.firebaseRef.database().ref('/users/'+userId).once('value').then(function(snapshot) {
                    try {
                      var username = snapshot.val().username;
                      var birthyear = snapshot.val().year;
                      var gender = snapshot.val().gender;
                      var country = snapshot.val().country;
                      var activePoll = snapshot.val().activePoll;
                      var social = snapshot.val().social;
                      var registeryDate = snapshot.val().registeryDate;
                      var photos = snapshot.val().photos;

                      if ( username && birthyear && gender && country && social && registeryDate && photos && activePoll ) {
                        window.parent.closeFB();
                        window.parent.document.getElementById('s-home').contentWindow.location.replace("home.html");


                      } else {
                          $("#page-welcome > #preloader > div").removeClass("active");
                          $("#page-welcome > #login")
                            .load("form.html")
                            .velocity({ opacity: 1 });

                      }

                    } catch(e) {
                        if (e instanceof TypeError) {
                          $("#page-welcome > #preloader > div").removeClass("active");
                          $("#page-welcome > #login")
                            .load("form.html")
                            .velocity({ opacity: 1 });
                        }
                    }

                  });


                } else {
                  $("#page-welcome > #preloader > div").removeClass("active");
                  $("#page-welcome > #login" )
                    .load("login.html")
                    .velocity({ opacity: 1 });
                }
              });

            }
          }
        });
      });
    });

  </script>

</body>
</htlm>
