body {
  margin: 0;
  background-color: #EEE;
    -webkit-overflow-scrolling:touch !important;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

label {
  color: rgba(0, 0, 0, 0.8) !important;
}

.bar {
  -webkit-transition: transform 400ms;
  transition: transform 400ms;
}



.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 999;
}

#isitmobile{
  position: fixed;
  height: 1px;
}

.modal-overlay {
  display: none !important;
}

.suggestions {
  position: relative;
  top: 0;
  left: 0;
  background: white;
  width: 100px;
  height: 100px;
}


#home-content {
  perspective: 200vw;
}

#home-content .poll-container {
  position: relative;
  width: calc( 100% - 30px );
  margin: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 3px 3px;
  box-shadow: 0 2px 6px rgba(36, 36, 36, 0.4);
  display: inline-block;
  overflow: hidden;
  transition: height 200ms;
  -webkit-transition: height 200ms;
}

#home-content .poll-container:first-of-type {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

#home-content .poll-container:nth-child(2) {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}


#home-content .poll-container * {
  overflow: hidden;
}

#home-content .vs-poll-container {
  min-height: 115vw;
}

#home-content .single-poll-container {
 min-height: 78vw;
}

#home-content .vote-status {
  position: absolute;
}

#home-content .user-info {
  position: absolute;
  z-index: 2;
  margin: 5px;
  width: 50%;
  height: 32px;
  cursor: pointer;
  border-radius: 3px 3px;
  overflow: hidden;
}

#home-content .user-img {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 3px 3px;
  cursor: pointer;
}

#home-content .user-name {
  position: absolute;
  display: inline-block;
  font-size: 11pt;
  font-weight: bold;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
  color: #E32551;
  margin: 5px;
  margin-top: 7px;
  left: 35px;
  cursor: pointer;
}

#home-content .choice-two .user-info {

}

#home-content .choice-two .user-img {

}

#home-content .choice-two .user-name {

}


#home-content .choice-one {
  display: inline-block;
  margin-bottom: 2px;
  width: 100%;
  transition: height 200ms;
  -webkit-transition: height 200ms;
}

#home-content .vs-poll-container .choice-photo {
  overflow: hidden;
  position: relative;
  width: 100%;
  transition: height 200ms;
  -webkit-transition: height 200ms;
}

#home-content .vs-poll-container .choice-photo .poll-photo {
  width: 100%;
  min-height: 67vw;
  transition: height 200ms;
  -webkit-transition: height 200ms;
}


#home-content .choice-one > .choice-photo > img {
  position: relative;
  cursor: pointer;
  min-height: 67vw;
  transition: height 200ms;
  -webkit-transition: height 200ms;
}

#home-content .choice-two {
  display: inline-block;
  width: 100%;
  transition: height 200ms;
  -webkit-transition: height 200ms;
}

#home-content .choice-two > .choice-photo > img {
  position: relative;
  cursor: pointer;
  min-height: 65vw;
  transition: height 200ms;
  -webkit-transition: height 200ms;
}

#home-content .single-poll-container > .choice-photo > img {
  width: 100%;
  min-height: 65vw;
  transition: height 200ms;
  -webkit-transition: height 200ms;
}

#home-content .choice-photo .result {
  z-index: -1;
  opacity: 0;
  position: absolute;
  margin: 5px;
  bottom: -26px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 3px 3px;
  transition: opacity 200ms 100ms, bottom 200ms 100ms;
  -webkit-transition: opacity 200ms 100ms, bottom 200ms 100ms;
}

#home-content .single-poll-container .choice-photo .result {
  bottom: 20px;
}

#home-content .voted .choice-photo .result {
  bottom: 41px;
}

#home-content .voted  .choice-one .choice-photo .result {
  bottom: 3px;
}

#home-content .voted .choice-two .choice-photo .result {
  bottom: 3px;
}

#home-content .voted .result {
  opacity: 1;
  z-index: 3;
  left: 3px;
  bottom: 41px;
}

#home-content .choice-two .result {

}

#home-content .choice-photo .result p {
  margin: 0;
  margin-bottom: -6px;
  font-size: 20pt;
  color: white;
}
#home-content .single-poll-container .choice-photo .result p {
  font-size: 26pt;
}

#home-content .choice-photo .result span {
  font-size: 12pt;
  color: gray;
}

#home-content .choice-photo .fullscreen img {
  width: 24px;
  height: 24px;
  opacity: 0.8;
  filter:invert(100%);
  -webkit-filter:invert(100%);
  cursor: pointer;
}

#home-content .choice-photo .fullscreen {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 3px;
  position: absolute;
  cursor: pointer;
  right: 5px;
  bottom: 5px;
}


#home-content .single-poll-container .choice-photo .fullscreen {
  margin-bottom: 42px;
}

#home-content .choice-photo .report img {
  width: 24px;
  height: 24px;
  opacity: 0.8;
  filter:invert(100%);
  -webkit-filter:invert(100%);
  cursor: pointer;
}

#home-content .choice-photo .report {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 3px;
  position: absolute;
  cursor: pointer;
  right: 42px;
  bottom: 5px;
}

#home-content .single-poll-container .choice-photo .report {
  margin-bottom: 42px;
}

#home-content .choice-photo .selected {
  position: relative;
  margin-top: -151px;
  width: 126px;
  left: calc( 50vw - 69px );
  bottom: 14vw;
  top: -500px;
  opacity: 0;
  transform: scale(1.2);
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px 3px;
  transition: opacity 200ms 100ms, transform 200ms 100ms;
  -webkit-transition: opacity 200ms 100ms, transform 200ms 100ms;
}

#home-content .voted-choice .selected {
  top:  -13vw;
  transform: scale(1);
  opacity: 1;
}

#home-content .choice-photo .selected img {
  height: 64px;
  filter:invert(100%);
  -webkit-filter:invert(100%);
}


#home-content .rate {
  position: relative;
  top: 2px;
  bottom: 0;
  left: calc( 50% - 44vw);
}

#home-content .rate > div {
  display: inline-block;
  background-color: #E32551;
  text-align: center;
  font-size: 12pt;
  opacity: 0.6;
  border-radius: 50%;
  color: white;
  padding: 1.5vw;
  width: 8.7vw;
  height: 8.7vw;
  cursor: pointer;
  transition: opacity 100ms;
  -webkit-transition: opacity 100ms;
}

#home-content .rate:hover > div {
	opacity: 1;
}
#home-content .rate > div:hover ~ div {
	opacity: 0.6
}
#home-content .rate:hover > div:before {
	opacity: 0.6;
}
#home-content .rate > div:hover ~ div:before {
	opacity: 0.6;
}

#nomore {
  text-align: center;
  padding: 80px;
}
