
body {
  margin: 0;
  background-color: #EEE;
    -webkit-overflow-scrolling:touch !important;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

label {
  color: rgba(0, 0, 0, 0.8) !important;
}

.bar {
  -webkit-transition: transform 400ms;
  transition: transform 400ms;
}


.fullbrowse-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #029DAF;
  z-index: 2;
}

.fullbrowse-bar h4 {
  color: white;
  margin-left: 20px;
  font-size: 18pt;
  margin-top: 11px;

}
 .closeFB img {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 5px;
  height: 25px;
  width: 25px;
  margin: 12px;
  filter:invert(100%);
  -webkit-filter:invert(100%);
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 999;
}

#isitmobile{
  position: fixed;
  height: 1px;
}

.modal-overlay {
  display: none !important;
}
#moderator .general-container {
  background-color: white;
  position: relative;
  margin-top: 70px;
  width: 100vw;
  border-bottom: solid 1px rgb(199, 199, 199);
}

#moderator #photoFirst {
  position: relative;
  width: 100%;
}

#moderator #photoSecond {
  position: relative;
  width: 100%;
}

#moderator .photo img {
  position: relative;
  width: 100%;
}
