
body {
  margin: 0;
  background-color: #EEE;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


label {
  color: rgba(0, 0, 0, 0.8) !important;
}

.bar {
  -webkit-transition: transform 800ms;
  transition: transform 800ms;
}


.fullbrowse-bar {
 position: fixed;
 width: 100%;
 height: 68px;
 background-color: #029DAF;
 z-index: 2;
 top: 0;
}

.fullbrowse-bar h4 {
 color: white;
 margin-left: 20px;
}

.closeFB img {
 cursor: pointer;
 position: absolute;
 top: 0;
 right: 5px;
 height: 32px;
 width: 32px;
 margin: 18px;
 filter:invert(100%);
 -webkit-filter:invert(100%);
}

#isitmobile{
  position: fixed;
  height: 0px;
}

.modal-overlay {
  display: none !important;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 500;
}


#moderator .general-container {
  background-color: white;
  position: relative;
  margin-top: 70px;
  width: 900px;
  left: calc( 50% - 450px );
  border-radius: 3px 3px;
  border: solid 1px rgb(199, 199, 199);
}

#moderator #firstPhoto{
  position: relative;
  width: 445px;
  display: inline-block;
}

#moderator #secondPhoto{
  position: relative;
  width: 445px;
  display: inline-block;
}

#moderator .photo img{
  position: relative;
  width: 100%;
}
