
body {
  margin: 0;
  background-color: #EEE;
    -webkit-overflow-scrolling:touch !important;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

label {
  color: rgba(0, 0, 0, 0.8) !important;
}

.bar {
  -webkit-transition: transform 400ms;
  transition: transform 400ms;
}


.fullbrowse-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #029DAF;
  z-index: 1200;
}

.fullbrowse-bar h4 {
  color: white;
  margin-left: 20px;
  font-size: 18pt;
  margin-top: 11px;

}
 .closeFB img {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 5px;
  height: 25px;
  width: 25px;
  margin: 12px;
  filter:invert(100%);
  -webkit-filter:invert(100%);
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 999;
}

#isitmobile{
  position: fixed;
  height: 1px;
}

.modal-overlay {
  display: none !important;
}


#previous-votes-container .general-container {
  margin-top: 50px;
}

#previous-votes-container .poll-container {
  position: relative;
  width: calc( 100% - 30px );
  margin: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 3px 3px;
  box-shadow: 0 2px 6px rgba(36, 36, 36, 0.4);
  display: inline-block;
  overflow: hidden;
  transition: height 200ms;
  -webkit-transition: height 200ms;
}

#previous-votes-container .poll-container:first-of-type {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

#previous-votes-container .poll-container:nth-child(2) {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

#previous-votes-container .poll-container * {
  overflow: hidden;
}

#previous-votes-container .vs-poll-container {
  min-height: 115vw;
}

.#previous-votes-container .single-poll-container {
 min-height: 78vw;
}

#previous-votes-container .vote-status {
  position: absolute;
}

#previous-votes-container .user-info {
  position: absolute;
  z-index: 2;
  margin: 5px;
  width: 50%;
  height: 32px;
  cursor: pointer;
  border-radius: 3px 3px;
  overflow: hidden;
}

#previous-votes-container .user-img {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 3px 3px;
  cursor: pointer;
}

#previous-votes-container .user-name {
  position: absolute;
  display: inline-block;
  font-size: 11pt;
  font-weight: bold;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
  color: #E32551;
  margin: 5px;
  margin-top: 7px;
  left: 35px;
  cursor: pointer;
}

#previous-votes-container .choice-two .user-info {

}

#previous-votes-container .choice-two .user-img {

}

#previous-votes-container .choice-two .user-name {

}


#previous-votes-container .choice-one {
  display: inline-block;
  margin-bottom: 2px;
  width: 100%;
}

#previous-votes-container .vs-poll-container .choice-photo {
  overflow: hidden;
  position: relative;
  width: 100%;
}

#previous-votes-container .vs-poll-container .choice-photo .poll-photo {
  width: 100%;
  width: 100%;
  min-height: 67vw;
}


#previous-votes-container .choice-one > .choice-photo > img {
  position: relative;
  cursor: pointer;
}

#previous-votes-container .choice-two {
  display: inline-block;
  width: 100%;

}

#previous-votes-container .choice-two > .choice-photo > img {
  position: relative;
  cursor: pointer;
    min-height: 67vw;
    width: 100%;
}

#previous-votes-container .single-poll-container > .choice-photo > img {
  width: 100%;
  min-height: 65vw;
}

#previous-votes-container .choice-photo .result {
  position: relative;
  width: 62px;
  bottom: 25px;
  margin: 5px;
  margin-top: -21px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 3px 3px;

}

#previous-votes-container .single-poll-container .choice-photo .result {
  margin-top: -46px;
}

#previous-votes-container .voted .result {
  opacity: 1;
  z-index: 3;
  left: 3px;
  bottom: 26px;
}

#previous-votes-container .choice-two .result {

}

#previous-votes-container .choice-photo .result p {
  margin: 0;
  margin-bottom: -6px;
  font-size: 20pt;
  color: white;
}

#previous-votes-container .single-poll-container .choice-photo .result p {
  font-size: 26pt;
}

#previous-votes-container .choice-photo .result span {
  font-size: 12pt;
  color: gray;
}

#previous-votes-container .choice-photo .fullscreen img {
  width: 24px;
  height: 24px;
  opacity: 0.8;
  filter:invert(100%);
  -webkit-filter:invert(100%);
  cursor: pointer;
}

#previous-votes-container .choice-photo .fullscreen {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 3px;
  position: absolute;
  cursor: pointer;
  right: 5px;
  bottom: 5px;
}

#previous-votes-container .choice-one .fullscreen {

}

#previous-votes-container .choice-two .fullscreen {
}

#previous-votes-container .single-poll-container .choice-photo .fullscreen {
  margin-bottom: 42px;
}

#previous-votes-container  .choice-photo .selected {
  position: relative;
  margin-top: -151px;
  width: 126px;
  left: calc( 50vw - 69px );
  bottom: 63px;
  top: -500px;
  opacity: 0;
  transform: scale(1.2);
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px 3px;
  transition: opacity 200ms 100ms, transform 200ms 100ms;
  -webkit-transition: opacity 200ms 100ms, transform 200ms 100ms;
}

#previous-votes-container  .voted-choice .selected {
  top:  -80px;
  transform: scale(1);
  opacity: 1;
}

#previous-votes-container .choice-photo .selected img {
  height: 64px;
  filter:invert(100%);
  -webkit-filter:invert(100%);
}

#previous-votes-container .rate {
  position: relative;
  top: -4px;
  padding: 6px;
  bottom: 0;
  left: calc( 50% - 148px );
}

#previous-votes-container .rate > div {
  display: inline-block;
  background-color: #E32551;
  text-align: center;
  font-size: 12pt;
  opacity: 0.6;
  border-radius: 50%;
  color: white;
  padding: 1px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: opacity 100ms;
  -webkit-transition: opacity 100ms;
}

#previous-votes-container .rated {
  opacity: 1!important;
}
