
body {
  margin: 0;
  background-color: #EEE;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


label {
  color: rgba(0, 0, 0, 0.8) !important;
}

.bar {
  -webkit-transition: transform 800ms;
  transition: transform 800ms;
}



.fullbrowse-bar {
 position: fixed;
 width: 100%;
 height: 68px;
 background-color: #029DAF;
 z-index: 2;
 top: 0;
}

.fullbrowse-bar h4 {
 color: white;
 margin-left: 20px;
}

.closeFB img {
 cursor: pointer;
 position: absolute;
 top: 0;
 right: 5px;
 height: 32px;
 width: 32px;
 margin: 18px;
 filter:invert(100%);
 -webkit-filter:invert(100%);
}

#isitmobile{
  position: fixed;
  height: 0px;
}

.modal-overlay {
  display: none !important;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 500;
}

#previous-votes-container .general-container {
  margin-top: 70px;
}

#previous-votes-container .poll-container {
  position: relative;
  width: 750px;
  height: 332px;
  left: calc( 50% - 375px );
  margin: 10px;
  background-color: white;
  border-radius: 3px 3px;
  box-shadow: 0 2px 6px rgba(36, 36, 36, 0.4);
  display: inline-block;
  overflow: hidden;
}

#previous-votes-container .poll-container * {
  overflow: hidden;
}

#previous-votes-container .vote-status {
  position: absolute;
}

#previous-votes-container .user-info {
  margin: 5px;
  width: 98%;
  height: 42px;
  cursor: pointer;
}

#previous-votes-container .user-img {
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 3px 3px;
  cursor: pointer;
}

#previous-votes-container .user-name {
  position: absolute;
  display: inline-block;
  font-size: 12pt;
  font-weight: bold;
  color: #E32551;
  margin: 5px;
  margin-top: 10px;
  left: 48px;
  cursor: pointer;
}

#previous-votes-container .single-poll-container .poll-photo {
  height: 280px;
  margin-left: 180px;
}

#previous-votes-container .single-poll-container .choice-photo {
  background-color: gray;
}

#previous-votes-container .choice-two .user-info {
  position: relative;
  right: 0px;
}

#previous-votes-container .choice-two .user-img {
  right: 0px;
}

#previous-votes-container .choice-two .user-name {
  left: inherit;
  right: 48px;
}


#previous-votes-container .choice-one {
  width: 373px;
  display: inline-block;
}

#previous-votes-container .choice-one > .choice-photo > img {
  position: relative;
  width: 100%;
  height: 280px;
}

#previous-votes-container .choice-two {
  width: 373px;
  display: inline-block;
  margin-left: 4px;
}

#previous-votes-container .choice-two > .choice-photo > img {
  position: relative;
  width: 100%;
  height: 280px;
}

#previous-votes-container.single-poll-container > .choice-photo > img {
  width: 750px;
  height: 563px;
}

#previous-votes-container .choice-photo .result {
  position: absolute;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 3px 3px;
  bottom: 0;
}

#previous-votes-container .voted .result {
  opacity: 1;
  bottom: 0px;
}

#previous-votes-container .choice-two .result {
  right: 0;
}

#previous-votes-container .choice-photo .result p {
  margin: 0;
  margin-bottom: -5px;
  font-size: 20pt;
  color: white;
}

#previous-votes-container .single-poll-container .choice-photo .result p {
  font-size: 26pt;
}

#previous-votes-container .choice-photo .result span {
  font-size: 12pt;
  color: lightgray;
}

#previous-votes-container .choice-photo .fullscreen img {
  width: 14px;
  height: 14px;
  opacity: 0.8;
  filter:invert(100%);
  -webkit-filter:invert(100%);
  cursor: pointer;
}

#previous-votes-container .choice-photo .fullscreen {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 3px;
  position: absolute;
  bottom: 249px;
  cursor: pointer;
}

#previous-votes-container .choice-one .fullscreen {
  left: 5px;
}

#previous-votes-container .choice-two .fullscreen {
  right: 5px;
}

#previous-votes-container .single-poll-container .choice-photo .fullscreen {
  right: 5px;

}

#previous-votes-container .choice-photo .selected {
  position: absolute;
  top:  -500px;
  opacity: 0;
  transform: scale(1.2);
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px 3px;
  transition: opacity 200ms 100ms, transform 200ms 100ms;
  -webkit-transition: opacity 200ms 100ms, transform 200ms 100ms;
}

#previous-votes-container .voted-choice .selected {
  top:  calc( 25% + 30px );
  transform: scale(1);
  opacity: 1;
}

#previous-votes-container .choice-photo .selected img {
  height: 64px;
  filter:invert(100%);
  -webkit-filter:invert(100%);
}

#previous-votes-container .choice-one .selected {
  left: calc( 25% - 64px );
}
#previous-votes-container .choice-two .selected {
  right: calc( 25% - 64px );
}

#previous-votes-container .rate {
  position: absolute;
  padding: 5px;
  bottom: 0;
  left: calc( 50% - 268px );
}

#previous-votes-container .rate > div {
  display: inline-block;
  background-color: #E32551;
  text-align: center;
  font-size: 14pt;
  opacity: 0.6;
  border-radius: 50%;
  color: white;
  padding: 12px;
  width: 50px;
  height: 50px;
  transition: opacity 100ms;
  -webkit-transition: opacity 100ms;
}

#previous-votes-container .voted-choice .selected {
  top:  calc( 25% + 30px );
  transform: scale(1);
  opacity: 1;
}

#previous-votes-container .choice-photo .selected img {
  height: 64px;
  filter:invert(100%);
  -webkit-filter:invert(100%);
}

#previous-votes-container .choice-one .selected {
  left: calc( 25% - 64px );
}
#previous-votes-container .choice-two .selected {
  right: calc( 25% - 64px );
}

#previous-votes-container .rated {
  opacity: 1 !important;
}