body {
  margin: 0;
  background-color: #EEE;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


label {
  color: rgba(0, 0, 0, 0.8) !important;
}

.bar {
  -webkit-transition: transform 800ms;
  transition: transform 800ms;
}


.fullbrowse-bar {
 position: fixed;
 width: 100%;
 height: 68px;
 background-color: #029DAF;
 z-index: 2;
 top: 0;
}

.fullbrowse-bar h4 {
 color: white;
 margin-left: 20px;
}

.closeFB img {
 cursor: pointer;
 position: absolute;
 top: 0;
 right: 5px;
 height: 32px;
 width: 32px;
 margin: 18px;
 filter:invert(100%);
 -webkit-filter:invert(100%);
}

#isitmobile{
  position: fixed;
  height: 0px;
}

.modal-overlay {
  display: none !important;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 500;
}


  #profile-content {
    position: relative;
    width: 800px;
    left: calc( 50% - 400px );
    margin-top: 15px;
  }



  #notification-content {
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 6px rgba(36, 36, 36, 0.4);
    border-radius: 3px 3px;
    margin-top: 15px;
  }

  .notification {
    display: inline-block;
    width: 100%;
  }

  .notification p {
    width: 530px;
    margin-left: 15px;
    overflow: hidden;
    display: inline-block;
  }

  .notification .buttons {
    position: relative;
    float: right;
    margin: 6px;
  }

  #profile-info {
    overflow: hidden;
    width: 100%;
    height: 192px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(36, 36, 36, 0.4);
    border-radius: 3px 3px;
    margin-top: 50px;
  }

  #profile-info #profile-pic img {
    width: 192px;
  }

  #profile-info #profile-name {
    position: absolute;
    left: 209px;
    top: 10px;
    font-size: 22pt;
    color: #E32551;
  }

  #profile-info #profile-fullname {
    position: absolute;
    left: 210px;
    top: 42px;
    font-size: 12pt;
    color: rgba(0, 0, 0, 0.6);
  }

  #profile-info #profile-location {
    position: absolute;
    left: 210px;
    top: 62px;
    font-size: 12pt;
    color: #F07C19;
  }

  #profile-info #social-container {
    position: absolute;
    top: 88px;
    left: 208px;
  }

  #profile-info #social-container img {
    width: 32px;
    display: none;
  }

  #profile-info #stats {
    position: absolute;
    left: 210px;
    top: 116px;
    width: 580px;
    margin-top: 9px;
  }

#profile-info #stats > div {
  display: inline-block;
  width: 188px;
}

#profile-info #stats  p {
  margin: 2px;
}

#profile-info #stats .title {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

#profile-info #stats .value {
  text-align: center;
  font-size: 20pt;
}

#profile-info #share {
  position: absolute;
  top: 5px;
  right: 5px;
}

.active-poll {
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 6px rgba(36, 36, 36, 0.4);
  border-radius: 3px 3px;
  overflow: hidden;
  margin-top: 50px;
}

.active-poll .stats-container {
  position: absolute;
  margin: 5px;
  height: 130px;
}

.active-poll > div {
  display: inline-block;
}

.active-poll .active-poll-photo img {
  height: 155px;
  width: 206px;
  margin-bottom: -4px;
}

.active-poll .active-poll-photo:nth-child(2) img {
  margin-top: 4px;
}

.active-poll .user {
  position: absolute;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px 3px;
  overflow: hidden;
}

.active-poll .user > * {
  display: inline-block;
}

.active-poll .user img {
  height: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.8;
}

.active-poll .user p {
  position: relative;
  opacity: 0.8;
  color: white;
  margin: 0;
  margin-right: 3px;
  top: -6px;
}

.active-poll .rating {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px 3px;
  color: white;
  padding: 4px;
  margin-top: 104px;
  margin-left: 5px;
  font-size: 16pt;
}

.active-poll .stats-container > div > p {
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  margin: 5px;
  width: 73px;
}



.active-poll .stats-container > div {
  display: inline-block;
  padding-left: 42px;
  padding-right: 42px;
}


#profile-content #photos {
  width: 100%;
  border-radius: 3px 3px;
  overflow: hidden;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 80px;
  box-shadow: 0 2px 6px rgba(36, 36, 36, 0.4);
}

#profile-content #photos > div {
  display: inline-block;
}

#profile-content #photos > div > img {
  width: 264px;
  height: 198px;
  margin-left: 2px;
  margin-bottom: 2px;
}

#profile-content #photos > div > div {
  position: absolute;
  color: white;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px 3px;
  padding: 5px;
  border: solid lightgray 1px;
}

#profile-content #photos .photo-point {
  font-size: 17pt;
}

#profile-content #photos .photo-votes {
  margin-top: 53px
}

#profile-content #photos .photo-votes a {
  color: white;
}

#profile-content .opponentNick{
  margin: 0 !important;
}

#profile-content .opponentPhoto {
  width: 100px !important;
  border-radius: 3px !important;
}

#profile-content .opponent {
  position: absolute !important;
  margin-top: -111px !important;
}

#profile2-page #profile-content {
	margin-top: 90px;
}
