body {
  margin: 0;
  background-color: #EEE;
    -webkit-overflow-scrolling:touch !important;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

label {
  color: rgba(0, 0, 0, 0.8) !important;
}

.bar {
  -webkit-transition: transform 400ms;
  transition: transform 400ms;
}


.fullbrowse-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #029DAF;
  z-index: 2;
}

.fullbrowse-bar h4 {
  color: white;
  margin-left: 20px;
  font-size: 18pt;
  margin-top: 11px;

}
 .closeFB img {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 5px;
  height: 25px;
  width: 25px;
  margin: 12px;
  filter:invert(100%);
  -webkit-filter:invert(100%);
}
.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 999;
}

#isitmobile{
  position: fixed;
  height: 1px;
}

.modal-overlay {
  display: none !important;
}

#profile-content {
  position: relative;
  width: 100%;
  padding: 6px;
}

#notification-content {
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 6px rgba(36, 36, 36, 0.4);
  border-radius: 3px 3px;
  margin-top: 15px;
}

.notification {
  display: inline-block;
  width: 100%;
}

.notification p {
  margin-left: 15px;
  overflow: hidden;
  display: inline-block;
}

.notification .buttons {
  position: relative;
  float: right;
  margin: 6px;
}

#profile-info {
  overflow: hidden;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 6px rgba(36, 36, 36, 0.4);
  border-radius: 3px 3px;
  margin-top: 50px;
}

#profile-info #profile-pic img {
  width: 92px;
}

#profile-info #profile-name {
  position: absolute;
  left: 99px;
  top: 34px;
  font-size: 14pt;
  color: #E32551;
}

#profile-info #profile-fullname {
  position: absolute;
  left: 100px;
  top: 57px;
  font-size: 11pt;
  color: rgba(0, 0, 0, 0.6);
}

#profile-info #profile-location {
  position: absolute;
  left: 100px;
  top: 75px;
  font-size: 10pt;
  color: #F07C19;
}

#profile-info #social-container img {
  width: 42px;
  display: none;
}

#profile-info #stats {
  width: 100%;
}

#profile-info p {
  margin: 2px;
}

#profile-info #stats > div {
display: inline-block;
width: 32%;
}

#profile-info #stats .title {
text-align: center;
font-size: 10pt;
color: rgba(0, 0, 0, 0.5);
}

#profile-info #stats .value {
text-align: center;
font-size: 20pt;
margin-top: 0;
}

#profile-info #share {
position: absolute;
top: 5px;
right: 5px;
padding-left: 4px;
padding-right: 4px;
}

.active-poll {
width: 100%;
height: 387px;
background-color: white;
box-shadow: 0 2px 6px rgba(36, 36, 36, 0.4);
border-radius: 3px 3px;
overflow: hidden;
margin-top: 50px;
}

.active-poll .stats-container {
position: absolute;
height: 130px;
}

.active-poll > div {
display: inline-block;
}

.active-poll .active-poll-photo {
overflow: hidden;
width: 180px;
margin-bottom: -4px;
}

.active-poll .active-poll-photo img {
height: 185px;
width: 247px;
margin-left: -40px;
margin-bottom: -4px;
}

.active-poll .active-poll-photo:nth-child(2) img {
margin-top: 4px;
}

.active-poll .user {
position: absolute;
margin: 5px;
background-color: rgba(0, 0, 0, 0.3);
border-radius: 3px 3px;
overflow: hidden;
}

.active-poll .user > * {
display: inline-block;
}

.active-poll .user img {
position: relative;
margin-left: 0px;
height: 32px;
width: 32px;
height: 32px;
opacity: 0.8;
}

.active-poll .user p {
position: relative;
opacity: 0.8;
color: white;
margin: 0;
margin-right: 3px;
top: -8px;
font-size: 10pt;
}

.active-poll .rating {
position: absolute;
background-color: rgba(0, 0, 0, 0.3);
border-radius: 3px 3px;
color: white;
padding: 4px;
margin-top: 138px;
margin-left: 5px;
font-size: 16pt;
}

.active-poll .stats-container > div > p {
text-align: center;
color: rgba(0, 0, 0, 0.4);
width: 120%;
margin: 7px;
margin-left: -14px;
font-size: 10pt;
}


.active-poll .stats-container > div {
display: inline-block;
padding-left: 42px;
padding-right: 42px;
}


#profile-content #photos {
width: 100%;
border-radius: 3px 3px;
overflow: hidden;
background-color: white;
margin-top: 10px;
margin-bottom: 80px;
box-shadow: 0 2px 6px rgba(36, 36, 36, 0.4);
}

#profile-content #photos > div {
display: inline-block;
}

#profile-content #photos > div > img {
width: 100%;
height: 72vw;
margin-bottom: 3px;
}

#profile-content #photos > div > div {
position: absolute;
color: white;
margin: 5px;
background-color: rgba(0, 0, 0, 0.3);
border-radius: 3px 3px;
padding: 5px;
border: solid lightgray 1px;
}


#profile-content #photos .photo-point {
font-size: 17pt;
}

#profile-content #photos .photo-votes {
margin-top: 52px
}

#profile-content #photos .photo-votes a {
color: white;
}

#profile-content .opponentNick{
margin: 0 !important;
}

#profile-content .opponentPhoto {
width: 100px !important;
border-radius: 3px !important;
}

#profile-content .opponent {
position: absolute !important;
margin-top: -115px !important;
}


#profile2-page #profile-content {
margin-top: 60px;
}
