body {
  margin: 0;
  background-color: #EEE;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


label {
  color: rgba(0, 0, 0, 0.8) !important;
}

.bar {
  -webkit-transition: transform 800ms;
  transition: transform 800ms;
}

#isitmobile{
  position: fixed;
  height: 0px;
}

.modal-overlay {
  display: none !important;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 500;
}

.suggestions {
  position: relative;
  top: 0;
  left: 0;
  background: white;
  width: 100px;
  height: 100px;
}

.fullbrowse-bar {
 position: fixed;
 width: 100%;
 height: 68px;
 background-color: #029DAF;
 z-index: 2;
 top: 0;
}

.fullbrowse-bar h4 {
 color: white;
 margin-left: 20px;
}

.closeFB img {
 cursor: pointer;
 position: absolute;
 top: 0;
 right: 5px;
 height: 32px;
 width: 32px;
 margin: 18px;
 filter:invert(100%);
 -webkit-filter:invert(100%);
}

#settings-page .collection {
 position: absolute;
 margin-top: 73px;
 width: 600px;
 left: calc( 50% - 300px );
}

#settings-page .collection-item {
 padding: 15px;
}

/*

#settings-page .validate {
 margin: 0;
 height: 2.2rem;
}
*/

#settings-page #password-change-area .btn {
 float: right;
 margin-right: 11px;
}

#settings-page #avatar-change-area img {
 position: relative;
 width: 35px;
 height: 35px;
 top: -6px;
 border-radius: 2px 2px;

}

.lean-overlay {
 display: none !important;
}
