
body {
  margin: 0;
  background-color: #EEE;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


label {
  color: rgba(0, 0, 0, 0.8) !important;
}

.bar {
  -webkit-transition: transform 800ms;
  transition: transform 800ms;
}


.fullbrowse-bar {
 position: fixed;
 width: 100%;
 height: 68px;
 background-color: #029DAF;
 z-index: 1200;
 top: 0;
}

.fullbrowse-bar h4 {
 color: white;
 margin-left: 20px;
}

.closeFB img {
 cursor: pointer;
 position: absolute;
 top: 0;
 right: 5px;
 height: 32px;
 width: 32px;
 margin: 18px;
 filter:invert(100%);
 -webkit-filter:invert(100%);
}

#isitmobile{
  position: fixed;
  height: 0px;
}

.modal-overlay {
  display: none !important;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 500;
}

.suggestions {
  position: relative;
  top: 0;
  left: 0;
  background: white;
  width: 100px;
  height: 100px;
}


#navbar1 p {
  position: absolute;
  font-size: 27pt;
  margin: 8px;
  margin-left: 20px;
  color: white;
}

#navbar1 {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 68px;
  background-color: #029DAF;
  box-shadow: 0 4px 10px rgba(36, 36, 36, 0.3);
}

#navbar2 {
  position: fixed;
  height: 68px;
  width: 40%;
  top: 0;
  right: 0;
  background-color: #029DAF;
}

#navbar1 .navicon_container {
  margin: auto;
  width: 235px;
}

#navbar2 .navicon_container {
  position:absolute;
  right: 0;
  width: 120px;
}

#navbars .notify-count {
  display: none;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 38px;
  margin: 0;
  position: relative;
  display: inline-block;
  z-index: 5;
  float: right;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 6px;
  line-height: 10px;
}


.navicon {
  height: 32px;
  margin: 18px;
  opacity: 0.9;
  transition: opacity 200ms;
  -webkit-transition: opacity 200ms;
  filter:invert(100%);
  -webkit-filter:invert(100%);
}

.navicon:hover {
  opacity: 1;
  cursor: pointer;
}

.navicon-active {
  opacity: 1;
}

#navbar2 .navicon {
  height: 24px;
  margin: 22px;
  margin-right: 0px;
}

#navbar2 input[type=text] {
  background-color: rgba(255, 255, 255, 0.9);
  left: 10px;
  opacity: 0;
  position: absolute;
  height: 31px;
  margin: 18px;
  border: none;
  border-radius: 3px 3px;
  padding-left: 10px;
  width: calc(100% - 146px);
}

#navbar1 .indicator {
  position: absolute;
  height: 3px;
  width: 68px;
  top: 65px;
  background-color: #E32551;
}

#sections-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#sections {
  position: absolute;
  min-height: calc(100vh - 135px);
  width: 310%;
}

.section {
  display: inline-block;
  height: calc(100vh - 36px);
  width: 100vw;
  margin-top: 53px;
}

#s-home {
  position: relative;
  top: -18px;
  margin-top: 0;
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
}

.section > div {
  margin-top: 66px;
}

#fullbrowse {
  position: absolute;
  background-color: #EEE;
  z-index: 1100;
  top: 0;
  opacity: 1;
  height: 100vh;
  width: 100vw;
  overflow : auto;
}

#fullbrowse2 {
  display: none;
  position: absolute;
  background-color: black;
  z-index: 2100;
  top: 0;
  opacity: 1;
  height: 100vh;
  width: 100vw;
  overflow : auto;
}



/* Feedback */
#feedback-content {
  position: relative;
  width: 600px;
  left: calc( 50% - 300px );
  margin-top: 85px;
}


/* Fullscreen Photo */
