
body {
  margin: 0;
  background-color: #EEE;
    -webkit-overflow-scrolling:touch !important;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

label {
  color: rgba(0, 0, 0, 0.8) !important;
}

.bar {
  -webkit-transition: transform 400ms;
  transition: transform 400ms;
}


.fullbrowse-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #029DAF;
  z-index: 1200;
}

.fullbrowse-bar h4 {
  color: white;
  margin-left: 20px;
  font-size: 18pt;
  margin-top: 11px;

}
 .closeFB img {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 5px;
  height: 25px;
  width: 25px;
  margin: 12px;
  filter:invert(100%);
  -webkit-filter:invert(100%);
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 999;
}

#isitmobile{
  position: fixed;
  height: 1px;
}

.modal-overlay {
  display: none !important;
}

#search-box #suggestions {
  position: fixed !important;
  margin-top: 13px !important;
  margin-left: -6px !important;
}

.suggestions {
  position: relative;
  top: 0;
  left: 0;
  background: white;
  width: 100px;
  height: 100px;
}


#navbar1 p {
  position: absolute;
  font-size: 15pt;
  margin: 10px;
  margin-right: 20px;
  margin-left: 10px;
  color: white;
}

#navbar1 {
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 50px;
  background-color: #029DAF;
  box-shadow: 0 4px 10px rgba(36, 36, 36, 0.3);
}

#navbar2 {
  position: fixed;
  height: 50px;
  top: 0;
  right: 0;
  background-color: #029DAF;
}

#navbar1 .navicon_container {
  margin: auto;
  width: 50%;
}

#navbar2 .navicon_container {
  position:absolute;
  right: -15px;
  width: 85px;
}

#navbars .notify-count {
  display: none;
  width: 18px;
  height: 18px;
  font-size: smaller;
  top: 6px;
  right: 39px;
  margin: 0;
  position: relative;
  display: inline-block;
  z-index: 5;
  float: right;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 6px;
  line-height: 9px;
}

.navicon {
  height: 28px;
  margin: 10px;
  opacity: 0.9;
  transition: opacity 200ms;
  -webkit-transition: opacity 200ms;
  filter:invert(100%);
  -webkit-filter:invert(100%);
}

.navicon:hover {
  opacity: 1;
  cursor: pointer;
}

.navicon-active {
  opacity: 1;
}

#navbar2 .navicon {
  height: 20px;
  margin: 15px;
  margin-left: 0;
  margin-right: 10px;
}

#navbar2 input[type=text] {
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  left: 10px;
  opacity: 0;
  position: fixed;
  height: 25px;
  margin: 12px;
  border: none;
  border-radius: 3px 3px;
  padding-left: 10px;
  width: calc(100% - 100px);
}

#navbar1 .indicator {
  position: absolute;
  height: 3px;
  width: 50px;
  top: 47px;
  background-color: #E32551;
}

#sections {
  position: absolute;
  min-height: calc(100vh - 117px);
  width: 310%;
    -webkit-overflow-scrolling:touch !important;
}

#sections-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.section {
  display: inline-block;
  height: calc(100vh - 20px);
  width: 100vw;
  overflow-y: scroll;
    -webkit-overflow-scrolling:touch !important;
  margin-top: 36px;
}

#s-home {
  position: relative;
  top: -16px;
  margin-top: 0;
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
}

.section > div {
  margin-top: 43px;
}

#fullbrowse {
  position: absolute;
  background-color: #EEE;
  z-index: 1100;
  top: 0;
  opacity: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
  overflow-y: scroll !important;
  -webkit-overflow-scrolling:touch !important;
}

#fullbrowse2 {
  display: none;
  position: absolute;
  background-color: black;
  z-index: 2100;
  top: 0;
  opacity: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
  overflow-y: scroll !important;
  -webkit-overflow-scrolling:touch !important;
}



#feedback-content {
  position: relative;
  margin-top: 55px;
  width: 100%;
  padding: 10px;
}

/* Previous Votes */
