body {
  margin: 0;
  background-color: #EEE;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


label {
  color: rgba(0, 0, 0, 0.8) !important;
}

.bar {
  -webkit-transition: transform 800ms;
  transition: transform 800ms;
}


.fullbrowse-bar {
 position: fixed;
 width: 100%;
 height: 68px;
 background-color: #029DAF;
 z-index: 2;
 top: 0;
}

.fullbrowse-bar h4 {
 color: white;
 margin-left: 20px;
}

.closeFB img {
 cursor: pointer;
 position: absolute;
 top: 0;
 right: 5px;
 height: 32px;
 width: 32px;
 margin: 18px;
 filter:invert(100%);
 -webkit-filter:invert(100%);
}

#isitmobile{
  position: fixed;
  height: 0px;
}

.modal-overlay {
  display: none !important;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 500;
}

.suggestions {
  position: relative;
  top: 0;
  left: 0;
  background: white;
  width: 100px;
  height: 100px;
}

#upload-content {
  position: relative;
  width: 800px;
  left: calc( 50% - 400px );
}

#credit-info span {
  font-size: 14pt;
  font-weight: bold;
}

#upload-content #btn-choose {
  width: calc(100% - 200px );
  height: 100px;
  padding: 30px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #E32551;
}
