
body {
  margin: 0;
  background-color: #EEE;
    -webkit-overflow-scrolling:touch !important;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

label {
  color: rgba(0, 0, 0, 0.8) !important;
}

.bar {
  -webkit-transition: transform 400ms;
  transition: transform 400ms;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 999;
}

#isitmobile{
  position: fixed;
  height: 1px;
}

.modal-overlay {
  display: none !important;
}

.suggestions {
  position: relative;
  top: 0;
  left: 0;
  background: white;
  width: 100px;
  height: 100px;
}


.fullbrowse-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #029DAF;
  z-index: 2;
}

.fullbrowse-bar h4 {
  color: white;
  margin-left: 20px;
  font-size: 18pt;
  margin-top: 11px;

}
 .closeFB img {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 5px;
  height: 25px;
  width: 25px;
  margin: 12px;
  filter:invert(100%);
  -webkit-filter:invert(100%);
}


#upload2 {
  position: relative;
  height: 100vh;
  overflow: auto;
}

#upload2 .container {
  margin-top: 55px;
  margin-bottom: 55px;
  width: calc(100% - 8px );
  left: calc( 50% - 4px );
  background-color: white;
  box-shadow: 0 2px 6px rgba(36, 36, 36, 0.4);
  border-radius: 3px 3px;
  overflow: hidden;
}

#upload2 .container img {
  width: 100%;
}

#upload2 .container form, #upload2 .container #inform, #upload2 .container .btn {
  margin: 20px;
}

#upload2 #modal-photo {
  width: 100%;
  height: 100%;
}
