body {
  margin: 0;
  background-color: #EEE;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


label {
  color: rgba(0, 0, 0, 0.8) !important;
}

.bar {
  -webkit-transition: transform 800ms;
  transition: transform 800ms;
}


.fullbrowse-bar {
 position: fixed;
 width: 100%;
 height: 68px;
 background-color: #029DAF;
 z-index: 2;
 top: 0;
}

.fullbrowse-bar h4 {
 color: white;
 margin-left: 20px;
}

.closeFB img {
 cursor: pointer;
 position: absolute;
 top: 0;
 right: 5px;
 height: 32px;
 width: 32px;
 margin: 18px;
 filter:invert(100%);
 -webkit-filter:invert(100%);
}

#isitmobile{
  position: fixed;
  height: 0px;
}

.modal-overlay {
  display: none !important;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 500;
}

.suggestions {
  position: relative;
  top: 0;
  left: 0;
  background: white;
  width: 100px;
  height: 100px;
}

#upload2 {
  position: relative;
  height: 100vh;
  overflow: auto;
}

#upload2 .container {
  position: absolute;
  margin-top: 73px;
  margin-bottom: 73px;
  width: 600px;
  left: calc( 50% - 300px );
  background-color: white;
  box-shadow: 0 2px 6px rgba(36, 36, 36, 0.4);
  border-radius: 3px 3px;
  overflow: auto;
}

#upload2 .container img {
  width: 100%;
}

#upload2 .container form, #upload2 .container #inform, #upload2 .container .btn {
  margin: 20px;
}
