
body {
  margin: 0;
  background-color: #EEE;
    -webkit-overflow-scrolling:touch !important;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

label {
  color: rgba(0, 0, 0, 0.8) !important;
}

.bar {
  -webkit-transition: transform 400ms;
  transition: transform 400ms;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 999;
}

#isitmobile{
  position: fixed;
  height: 1px;
}

.modal-overlay {
  display: none !important;
}

#page-welcome {
  position: absolute;
  top: 0;
  background-color: #029DAF;
  width: 100%;
  min-height: 100%;
    -webkit-overflow-scrolling:touch !important;
}

#page-welcome .spinner-blue-only {
  border-color: white;
}

#page-welcome > #preloader {
  position: absolute;
  left: calc( 50% - 29px );
  top: calc( 50% - 29px );
}

#page-welcome > #login {
  position: absolute;
  z-index: 2;
  opacity: 0;
  width: 100%;
  min-height: 100%;
}

#page-welcome #logo {
  width: calc(100% - 20vw);
  margin-left: 10vw;
  margin-right: 10vw;
}

#page-welcome > #login #demo {
  position: relative;
  background-color: #f5f5f5;
  width: 100%;
  overflow: hidden;
}

#page-welcome > #login #login-buttons {
  position: fixed;
  bottom: 0;
  background-color: lightgray;
  width: 100%;
  padding: 10px;
}

#page-welcome > #login #login-buttons h5 {
  color: rgba(1, 1, 1, 0.9);
}

#page-welcome > #login #login-buttons a {
  width: calc( 100% - 10px);
  margin: 5px;
}

#page-welcome > #login #login-buttons a:nth-of-type(1) {
  background-color: #E53935;
}

#page-welcome > #login #login-buttons a:nth-of-type(2) {
  background-color: #0057E7;
}

#page-welcome > #login #login-buttons a:nth-of-type(3) {
  background-color: #3B5998;
}

#page-welcome > #login #login-buttons a:nth-of-type(4) {
  background-color: #00aced;
}

#page-form {
  background-color: white;
  min-height: 100%;
  width: 100%;
  overflow-y: scroll;
    -webkit-overflow-scrolling:touch !important;
}

#page-form .avatar {
  min-height: 48px;
  list-style-type: none;
}

#page-form .avatar span {
  top: 11px;
  position: relative;
  left: 70px;
}

#page-form .collection {
  border: none;
  margin: 0;
  left: 0;
  padding: 0;
}

#page-form .collection-item {
  padding: 0;
}

#in, #up {
  margin: 5px;
  width: 43%;
}